nodered/dashboard2_flow.json
[
    {
        "id": "weg_d2_tab",
        "type": "tab",
        "label": "WEG Dashboard 2.0",
        "disabled": false
    },
    {
        "id": "weg_d2_base",
        "type": "ui-base",
        "name": "WEG SCADA",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": ["ui-notification","ui-control"],
        "showPathInSidebar": false
    },
    {
        "id": "weg_d2_theme",
        "type": "ui-theme",
        "name": "WEG Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#16a34a",
            "bgPage": "#f5f5f8",
            "groupBg": "#ffffff",
            "groupOutline": "#e8e8f0"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "12px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "weg_d2_page_agriplus",
        "type": "ui-page",
        "name": "Agriplus",
        "ui": "weg_d2_base",
        "path": "/agriplus",
        "icon": "mdi-factory",
        "layout": "grid",
        "theme": "weg_d2_theme",
        "order": 1
    },
    {
        "id": "weg_d2_page_agrocaraya",
        "type": "ui-page",
        "name": "Agrocaraya",
        "ui": "weg_d2_base",
        "path": "/agrocaraya",
        "icon": "mdi-office-building",
        "layout": "grid",
        "theme": "weg_d2_theme",
        "order": 2
    },
    {
        "id": "weg_d2_page_trending",
        "type": "ui-page",
        "name": "Trending",
        "ui": "weg_d2_base",
        "path": "/trending",
        "icon": "mdi-chart-line",
        "layout": "grid",
        "theme": "weg_d2_theme",
        "order": 3
    },

    {"id":"weg_d2_grp_banner","type":"ui-group","name":"Status","page":"weg_d2_page_agriplus","width":"12","height":"1","order":1},
    {"id":"weg_d2_grp_cfw1","type":"ui-group","name":"CFW900 #1 — 192.168.10.100","page":"weg_d2_page_agriplus","width":"6","height":"5","order":2},
    {"id":"weg_d2_grp_cfw2","type":"ui-group","name":"CFW900 #2 — 192.168.10.101","page":"weg_d2_page_agriplus","width":"6","height":"5","order":3},
    {"id":"weg_d2_grp_cfw3","type":"ui-group","name":"CFW900 #3 — 192.168.10.102","page":"weg_d2_page_agriplus","width":"6","height":"5","order":4},
    {"id":"weg_d2_grp_cfw4","type":"ui-group","name":"CFW900 #4 — 192.168.10.103","page":"weg_d2_page_agriplus","width":"6","height":"5","order":5},
    {"id":"weg_d2_grp_ssw","type":"ui-group","name":"SSW900 Soft Starters","page":"weg_d2_page_agriplus","width":"12","height":"2","order":6},

    {"id":"weg_d2_grp_agro","type":"ui-group","name":"SSW900 #3 — Agrocaraya","page":"weg_d2_page_agrocaraya","width":"6","height":"3","order":1},

    {"id":"weg_d2_grp_trend_current","type":"ui-group","name":"Corriente (A)","page":"weg_d2_page_trending","width":"12","height":"4","order":1},
    {"id":"weg_d2_grp_trend_voltage","type":"ui-group","name":"⚡ Tension (V)","page":"weg_d2_page_trending","width":"12","height":"4","order":2},

    {
        "id": "weg_d2_split",
        "type": "function",
        "z": "weg_d2_tab",
        "name": "Split CFW to gauges",
        "func": "var devices = flow.get('cfwDevices') || [];\nvar d = devices[0];\nif (!d || !d.online) return null;\n\nvar msgs = [\n    {payload: d.motorSpeed, topic: 'rpm'},\n    {payload: d.current, topic: 'current'},\n    {payload: d.outputVoltage, topic: 'voltage'},\n    {payload: d.frequency, topic: 'frequency'},\n    {payload: d.power, topic: 'power'},\n    {payload: d.motorTemp, topic: 'temp'},\n    {payload: d.cosPhi, topic: 'cosphi'},\n    {payload: d.statusText, topic: 'status'}\n];\nreturn msgs;",
        "outputs": 8,
        "x": 450,
        "y": 100,
        "wires": [
            ["weg_d2_gauge_rpm"],
            ["weg_d2_gauge_current"],
            ["weg_d2_gauge_voltage"],
            ["weg_d2_gauge_freq"],
            ["weg_d2_gauge_power"],
            ["weg_d2_gauge_temp"],
            ["weg_d2_text_cosphi"],
            ["weg_d2_text_status"]
        ]
    },
    {
        "id": "weg_d2_inject",
        "type": "inject",
        "z": "weg_d2_tab",
        "name": "D2 tick 3s",
        "repeat": "3",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 240,
        "y": 100,
        "wires": [["weg_d2_split"]]
    },

    {
        "id": "weg_d2_gauge_rpm",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Velocidad",
        "group": "weg_d2_grp_cfw1",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Velocidad",
        "units": "RPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from":"0","color":"#22c55e"},
            {"from":"1000","color":"#f59e0b"},
            {"from":"1500","color":"#ef4444"}
        ],
        "min": 0,
        "max": 1800,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "weg_d2_gauge_current",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Corriente",
        "group": "weg_d2_grp_cfw1",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Corriente",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from":"0","color":"#3b82f6"},
            {"from":"80","color":"#f59e0b"},
            {"from":"100","color":"#ef4444"}
        ],
        "min": 0,
        "max": 150,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "weg_d2_gauge_voltage",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Tension",
        "group": "weg_d2_grp_cfw1",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Tension",
        "units": "V",
        "icon": "mdi-flash",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from":"0","color":"#f59e0b"},
            {"from":"380","color":"#22c55e"},
            {"from":"440","color":"#f59e0b"},
            {"from":"480","color":"#ef4444"}
        ],
        "min": 0,
        "max": 500,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "weg_d2_gauge_freq",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Frecuencia",
        "group": "weg_d2_grp_cfw1",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Frecuencia",
        "units": "Hz",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {"from":"0","color":"#06b6d4"},
            {"from":"50","color":"#22c55e"},
            {"from":"60","color":"#f59e0b"}
        ],
        "min": 0,
        "max": 70,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "weg_d2_gauge_power",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Potencia",
        "group": "weg_d2_grp_cfw1",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Potencia",
        "units": "kW",
        "icon": "mdi-lightning-bolt",
        "segments": [
            {"from":"0","color":"#22c55e"},
            {"from":"50","color":"#f59e0b"},
            {"from":"80","color":"#ef4444"}
        ],
        "min": 0,
        "max": 100,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "weg_d2_gauge_temp",
        "type": "ui-gauge",
        "z": "weg_d2_tab",
        "name": "Temperatura",
        "group": "weg_d2_grp_cfw1",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gauge-tile",
        "gstyle": "rounded",
        "title": "Temp. Motor",
        "units": "°C",
        "icon": "mdi-thermometer",
        "segments": [
            {"from":"0","color":"#3b82f6"},
            {"from":"40","color":"#22c55e"},
            {"from":"80","color":"#f59e0b"},
            {"from":"120","color":"#ef4444"}
        ],
        "min": -10,
        "max": 150,
        "sizeThickness": 16,
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "weg_d2_text_cosphi",
        "type": "ui-text",
        "z": "weg_d2_tab",
        "group": "weg_d2_grp_cfw1",
        "order": 7,
        "width": "3",
        "height": "1",
        "name": "Cos Phi",
        "label": "Cos φ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": "",
        "font": "2em",
        "className": "",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "weg_d2_text_status",
        "type": "ui-text",
        "z": "weg_d2_tab",
        "group": "weg_d2_grp_cfw1",
        "order": 8,
        "width": "3",
        "height": "1",
        "name": "Status",
        "label": "Estado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": "",
        "font": "2em",
        "className": "",
        "x": 700,
        "y": 340,
        "wires": []
    }
]
