nodered/flows.json
[
  {
    "id": "weg_d2_tab",
    "type": "tab",
    "label": "WEG Dashboard 2.0",
    "disabled": false
  },
  {
    "id": "weg_d2_base",
    "type": "ui-base",
    "name": "Monitoreo de Drivers",
    "path": "/dashboard",
    "appIcon": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX0AAACECAMAAABLTQsGAAAA21BMVEX///9LS031hjRISEpFRUfo6Oj8/PzT09Pv7+/39/dCQkRKSk1WVlj/kjvz8/P2hjP98ui/v8D5hChsbG2zs7M4ODo9PT//xKGYmJmRkZJgYGKkpKT+iDB/f4FSUlT6zK7Jycrc3Nyrq6z3o2fZ2dn0fB6FhYZkZGb0eBN2dnhqamyXl5j+9/LDw8ODg4T838/2jj/+6975uZX6yKX3nFf3om34q3r4tYn85NX/kTL/hBn70rj0dgX5u472kD7/wJv2nV72k0z3n1z3p3b4rob2jEb6z7j9fQAtLTClYnirAAAP+ElEQVR4nO2dC3OjthbHcSTAEC4EGxMDtYOJ8St2HG8eTutsm7Sbbb//J7oCP0APXllcz6b6d+bOjkFC/HQ4ko6OcgWBi4uLi4uLi4uLi4uLi4uLi4uL6z+t+UU5Sfs756du8SeSdPnr/8rot5Ww+i3+19upm/yZdNkyzkposhEuQnSn8cv1qVv8mXTZKgP/LHwU5usQ/YPTr1Ml6RuTC+H5vcXp16vL0CjlesK1IF2dtTj9WnVvtMLJJCz2/uFGmG/eXl4eTt3iz6T5xWq13Hx9CF8m+T7IuNsIwsVy/fXULf6Ekuar+99RB+R8AoZxH9956qZ+Jm3W98vVfB4znV89GK3sYcCY3F1dzDn9GvXH35OXl8nd09VzvIpdrd9a2R7ImEx+fTp1iz+T4hmnYaCR9279/Rl1wMUfr2GO/2m9nrrFn0mH+T7qgfDtywbxX315Dxlev9UKI72eusWfSdhqywjP/rpC/JePafOP56Stu4frv56eHh+456lRxFoXjbqvS+R+1nv8RvgSPnzdLJ9X+2jnqVv8mURFGhD/J0mQ7mP8rZeX6yWf5xxNjDiPEb49o6loiDzO22Ybzp9fLO/X138+PPx5fX/iBn8qMaNsrTO0rr0yHpEPisB/fYtmpWHYQgPvbzy+X6PYMc6WcSUJ6AMQVst1C4sC8ShbnWLTNybXkct5vn8Nick/p1+n2J7HWK+ief9DSF3l9OsUi37rPRpskd0zrnH6dYpBP3yPDP+xxQx4cvp1iqYfvqHp/eYsI9jM6dcpin74gGaZX16yAm2cfp2K9nXTIf3wURIu1pnwOf1adf/29nZnhOFuTh8+zoWLp0l2iJnTr1MXz8/Lzebqcn19hqb24eNKmP81yWTP6R9H89Xy+/rufSkI3/Lgc/q1arP+enm1XMXBtPlqJQnf6J2VnaIBwuB7W3Xqj0kr3kh/e9qGM6XLCT3kGq3wJYqzGb/fcduvU7sZp2Egvsb9RRTJv8Lm+sjcjfeHrxu+q3IEpef7xmRyvUSU53+87/kbrbPX9XIb5JfmsU7c4E8lfLVlhJPX74j/89NZnOsQvn3bRJ9DNCZfXX5Zr5+e+O5KjaLWuq3J4/e5MP9+1zLC9y/R/srF5vLbgxFuNeF5nDWKFWUzvj0j83+YrJ+R3S+/PJ6Fyf4KH3XrFCvCbLTe4ozZKLfk6R3Pb+b0K0sRcSnJpYy9LeMxGl0vnqhQ544+UaF4mvf6OeQ0MAEvuZRBP1zPBelqQucUbunrU4DV2OE5J9nyzjFYMEguMekbxhUy/GtWpHNLX2lz+qXl4bZfRN84+45G3TtmyIHTryySvpVcYmVTRZa/PGMnknP6lVWNfniJ4L9nZPFz+pVViX74JGXD5/Srqwp9I5wLq7fM8yucfmUF5ekbLythfp0Z4+f0qyuXvoFpco9+ezkzsvTLa1SK068gD2JSU/Tv8b9R8svDhbD6O++vlbxGpTj9CpI9XMPk0vP9VVr3z2i+g/+E634TleL0TylO/5Ti9E+pn4i+pESq1D6p4v0MKUrxPR9uxPHpx9Ckj1cr6QPTGcNOx7ZtVUX/0+k03JHni/lglaGnoSKq3YE9U9zdqmfG5yX8SnN7u+WiKjrg1tclRnFRT4o38SvSvhFdFzUaadwdMLoxh372s6jG7lpLUJO9aT9GtoVmu71gqFfshqbvNGyItxEJQGi73lDPKiZamr0rdI5uVm/l6N2lwN4rahRIzRibHTstN0JjauruaSr0oo2PLnaP3Uni+81RZ1vnVrN4NiSaYxUkLR6bFKVs+lKAN6iTiqcKzX/wa1OiYxXR7KHXOyeZqQ2mDWSzn9pkJYlgx5GZlSnmTCWerHYjfBb2s2YmRXQbu32KKsHiCrAr5EUamg7Eig/Qb/5UxZsOpz5hezn0LYhdSVsKMhX8Wg+vdhC4KmWvuybYXun9s6HTyKhlX5lmMb46vUt/LOjVh5XoS9jCFozlAvoAK47om3TbgWvhnMrTP8+lj9mg1VYzDRbd3CZNIEP+LJ99VFe/S+HXHZV1K2wP8+hjVxB9WcN+GAkV6Vvs5gZYU8vTb5Sm7xVYLBgvyuCX3UL40fsQ5iRINxnFQK9pYq+UQ78nYFyA5lei3xPNPrMV530z3dYj0PeKLdaVi+GLZeBH7zPEy3nZ9/ZGWJU5nsfB+wm4rKqz6bedcZYJaOmZQv2ex9SIBwPAcICFvl/qMoZbwKgLOpjX88t1WqRs+o1+A3s4MCvRzxNoH5N+8xa3mkZf07Q+6YvAqMj3iDiO6GWB5o7HrkZ2QGeQfp8bSJbLVA59UkJt9M/TT62dPjHajL1hUxflm3Yf/91OI2OJ9F9Au72x/OFQthw3EwIyfa1RWqXpQ68++mjylfieuukrXXriGxfAWg4AnBbQJ3qr0TYPjSadi5t8R1JAzXeA2tA0yPoiytCPnwSaH6MPVfRf3mPrpi/20vVpi6RIF0RuG0K0CNNm05GT73pEFeCTjvS3QlCwE2MSpyQFdWotfN/0yNGoUYI+UGdTF0J4I32EPpwFpmkGY5L/obr66Q/T9YF2aj6iN7RZz/ECy1z48kAsCDmI3gi9OFq9QwjQ8Ist9QQRR6kmT5Ep+Lu1nTKkFw9F9NUuaudADsb7nq9EH60qo1eUBjfkujuhUjd9eYy9X8r2heFAFJtlY46SoutNEb276TlTTe3gV3HXk6KwIAxN9Q4Dkk76skL61ras1Ny3uQp91duX0smJADg8t376WH1TYjL+MUlEmFfHh1bQPbxNgL9NMu4IjFlUPn2IL0sjVaAPUpEvkWAMgz3kuukPMMd73ui3LbGkuZeT0pRHRBgH3Owv6iPyPdNFA8IGc+mDER1ArUBfTY9TC4ivHkb71U7d9MnPDI2zaqc/dSwfufof3epQxOHC6VPxu8T2m8Sg66Y9nyASBXPp97GRZqvy9EEvHX4aEGPOYSCpfb4f0IP/tg/sjjYKUB98sAf0AZq4TG1W6DRFH18KgCm2pCb7Jo8+UXSr8vQhFn3SidAT2Adaaqc/bLPw726DaqNnyZl7IhmSRNkKnHZDZQSO42oP9EViQMC9h+JVoN9jNMQj4vXZ9G3so5MIn6f6+xbVHufJiXLFt8K+41fYYBlYXac3ziQfV5lFnwgBkW+U63m6Aq3y9KGPFSTp7/um/hgnOcLTgm635AaL6PXaGoB0aA1/ejZ9zM1JZnn6GhYJrky/jwdxCZTwePTJtRBDoNEug18caX2GyVNxzky//3H6wGXFocrT1/Lp7x98jL0tPXNbMSmgFTofJbAZNo9+0txbfOGUoo9PLuDoo54HuIwdyx+gjy93f5g+0Vh8Z1EItEaRt3AL4LP2B9GYMes5viRkrbb0W+yp4BZjqNyUHnWBy7KOCvN9nH7ww/QxzyPi1ZH0BbE7HTdy/bW6EHLVJYNTQNV6jjWI25e51u3i9GcYhCYWBSmgz2pTefqHWc0W5Y+PuligSyaukfRRxbLn3ObMVQqMX6bWnm3PPAwWWfQJz36OWYwwJL6m6vTLz3ly5/sfmHGq6VU7MXNm0I8UzdO7o9k5qwuAlru3S0WKd1a/FT6uJ/QFmfgmb9OjOxGGOKbtE2tdMtBTfbWFxUyI7aUM+vEDxKFvBiOX7gAvq4hAz5tsLAtCd7PoD4iGNYKknEW24Ij0G+fp8KJPXHT3Fyt4nlFiRyIZss6mv62rKcoBMRECtzkFgn7evXKm7etd4kWTcA2d43FEz4OGnKTbm7fkh1E9ypYex0m/UEQ/ro/YdwJ5e4sjvH51kHc1RV8wyVg6GnkVSVKG03Pq4zum7adCFeSY24CHTYecLFqTNPB9aE7p0Y8i6aMXRvbuY3EWfCWaS5/oXhtbnA2JZJk0fZFum2r3NZW1Ajmm7Ue753GOtNT0yAlEUi6H/oKccANgic2muKB2KhP6erwdFThTF0ZJvXh8nYi+j8rTh+l1v9gj7Tsdk7GoLaxMHdX2oxW9t5B9i6J1Pj44kRz6Pr3cgbbrAkaW5D6LVvHUznYrdvc7NudottNl+vTeUSLSgsfJFGJIW3eaPr2vnqnj2n4j/uwYOQ2p2F8O/SE5f4jEzo492D75vcCblO/BBhKg5YV6iL+Eg1q8nSZIQ69Nf3lYPLJ8MtuRbT/zsUmxHPoiOT/O1iGDfDAju8fZz650D3f76Yw6SiaZFAXajmcFN6M2K/Zzg5W1MpJ4ASQqPQ39ctlUrMykLB3o02Vg2wkWvm/dEA4DX4uTUigDjsJrfcBcOQMHKyt1me0Gfd+rEGVj0q/oeZjNKJdJiNxIzgAGsWvJ6YkB5XYB7LsunX2p5cFHrod+m+TVqfwBonCX9YGoPjn1O4ntY5tmefR1hx4yds8d45RTZ1dYpwYYmcd2UYCfnf++rU5zcLugetJ0iR4CfbS+VH7Y9gkKeautjObDWbrC3DOLi4x9EuDqeLwwfXKIXG0yK8gP8kTKPjsBx6bQxnyASpUeOG7y/gA22p4u/Kv0p+wE/rTTL6KfsUcLZwNBJOgnqy2pW3B0JVqG+0Xwkf3OmF8eaPRksosB3ZeS3+2hNVb0tyzAzAniL+1fpA9kmTwzF/3ad/BNm3z6ZHt3r4/WvCT9dLFgnDtcozaUyXCT5B7rpOjMikjiwWJ2yEj0rQDJMvdJFP8ifTSnEKnRR51ZRDpHwWlpJeiTQQo3zksVsS8L4mcW5a6WubcI7dGiZEqJaLXVdBYYgJ2puQ00K6PD2djIvDMdmZQ+pp1Hv2kntUViTgq6UMWUrBdZuyuKP4Iw5f7cYCARFSrtaG16eDL8h7xBdkC6CrA7IitqMNUUm4jz6LI1hXFUH0+hg7bW9Vk7phnsxGhxFR9Stzuq65iDQ0JrU8ZUKkeC2PnCcnwlvD6Z+XWKctZT2Xtb+sDqNbanxTXHF+lIpDQkaqTuQFVM43PYdqffMwf7rxgvR/Wq1BzIwe0YdHYHw6MD9+ORJTOakCtJ0ZviYDAQm6XyECUxJ1eOzPJ0CzY3KyhzZzEKNkat/3gSJSIgfqQKSVKUOA08oodK//BfrCiWOEVG0ojTRqPuwh8oEnmG7RInJ0sqf1/3v6JtgPk8Shu1VbfXldP8B2QqQH1/dJrTjyRi20gAy98nVyKw4PBSFXH6kajcguTsiuA3cOWGuCs/NyNP9j8lhTohcbOzft0iFs9gVnRotYI4/VjkdigaW2890wycHhU4yttbqypOP5ZMHU0EsK9pfSrqlb+7U1Wc/laM2AhT8Ka4rvLi9LfKOzuTNv2iLN5q4vR3svo5f5npAH9W7//BDKe/F5UxSAtO61vmxuL0DzK1fN8PGk6Nk81YnH6ioQNhpvsBsE3/acYfFUnf9ut+wk8kZeD1GX/FMwoAdXpy7ewj+njkv+PX/4yfSZJo9rT4Czg/j7cZon+Ob/yqh4XLPo0I1B/nMT+ZotMDCxNp4Q+qbi1wcXFxcXFxcXF9Lv0fOnKGSr0vWOoAAAAASUVORK5CYII=",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false,
    "headerContent": "page",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 5,
    "showDisconnectNotification": true,
    "allowInstall": true
  },
  {
    "id": "weg_d2_theme",
    "type": "ui-theme",
    "name": "WEG Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#16a34a",
      "bgPage": "#f3f4f6",
      "groupBg": "#ffffff",
      "groupOutline": "#e5e7eb"
    },
    "sizes": {
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "14px",
      "widgetGap": "6px"
    }
  },
  {
    "id": "weg_d2_pg_agri",
    "type": "ui-page",
    "name": "Agriplus",
    "ui": "weg_d2_base",
    "path": "/agriplus",
    "icon": "mdi-factory",
    "layout": "grid",
    "theme": "weg_d2_theme",
    "order": 1
  },
  {
    "id": "weg_d2_pg_agro",
    "type": "ui-page",
    "name": "Agrocaraya",
    "ui": "weg_d2_base",
    "path": "/agrocaraya",
    "icon": "mdi-office-building",
    "layout": "grid",
    "theme": "weg_d2_theme",
    "order": 2
  },
  {
    "id": "weg_d2_g_banner",
    "type": "ui-group",
    "name": "",
    "page": "weg_d2_pg_agri",
    "width": "12",
    "height": "1",
    "order": 1
  },
  {
    "id": "weg_d2_pg_config",
    "type": "ui-page",
    "name": "Configuración",
    "ui": "weg_d2_base",
    "path": "/config",
    "icon": "mdi-cog",
    "layout": "grid",
    "theme": "weg_d2_theme",
    "order": 3
  },
  {
    "id": "weg_d2_g_config",
    "type": "ui-group",
    "name": "Ajuste de Zonas",
    "page": "weg_d2_pg_config",
    "width": "24",
    "height": "12",
    "order": 1
  },
  {
    "id": "weg_mqtt_broker",
    "type": "mqtt-broker",
    "name": "WEG Mosquitto",
    "broker": "weg-mosquitto",
    "port": "1883",
    "clientid": "nodered-dashboard",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "weg_d2_g_agri_drives",
    "type": "ui-group",
    "name": "Drives Agriplus",
    "page": "weg_d2_pg_agri",
    "width": "24",
    "height": "-1",
    "order": 2,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "weg_d2_g_agro_drives",
    "type": "ui-group",
    "name": "Drives Agrocaraya",
    "page": "weg_d2_pg_agro",
    "width": "24",
    "height": "-1",
    "order": 1,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "weg_d2_g_banner_agro",
    "type": "ui-group",
    "name": "Banner Agrocaraya",
    "page": "weg_d2_pg_agro",
    "width": "24",
    "height": "-1",
    "order": 0,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "weg_d2_pg_grafana",
    "type": "ui-page",
    "name": "Históricos",
    "ui": "weg_d2_base",
    "path": "/historicos",
    "icon": "mdi-chart-line",
    "layout": "notebook",
    "theme": "weg_d2_theme",
    "order": 4,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "weg_d2_g_grafana",
    "type": "ui-group",
    "name": "Grafana",
    "page": "weg_d2_pg_grafana",
    "width": "24",
    "height": "-1",
    "order": 1,
    "showTitle": false,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "weg_d2_pg_reports",
    "type": "ui-page",
    "name": "Reportes",
    "ui": "weg_d2_base",
    "path": "/reports",
    "icon": "mdi-file-chart",
    "layout": "grid",
    "theme": "weg_d2_theme",
    "order": 5
  },
  {
    "id": "weg_d2_g_reports",
    "type": "ui-group",
    "name": " ",
    "page": "weg_d2_pg_reports",
    "width": "24",
    "height": "1",
    "order": 1,
    "showTitle": false
  },
  {
    "id": "weg_d2_tick",
    "type": "inject",
    "z": "weg_d2_tab",
    "name": "D2 Tick 3s",
    "props": [],
    "repeat": "3",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "x": 880,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_d2_navstats",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_banner",
    "name": "Stats Counter",
    "order": 1,
    "width": "12",
    "height": "1",
    "format": "<template>\n<div v-if=\"msg?.payload\">\n  <div style=\"display:flex;align-items:center;gap:12px;margin-bottom:8px\">\n    <v-alert :color=\"msg.payload.alertColor || '#3b82f6'\" :icon=\"msg.payload.icon || 'mdi-information'\" variant=\"tonal\" density=\"compact\" style=\"font-family:monospace;font-weight:700;font-size:0.85em;letter-spacing:0.5px;flex:1\">{{ msg.payload.text }}</v-alert>\n    <div style=\"display:flex;gap:14px;text-align:center;flex-shrink:0\">\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#3b82f6\">{{msg.payload.running || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Running</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#22c55e\">{{msg.payload.online || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Online</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace\" :style=\"{color:msg.payload.faults>0?'#ef4444':'#ddd'}\">{{msg.payload.faults || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Faults</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#94a3b8\">{{msg.payload.offline || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Offline</div></div>\n    </div>\n  </div>\n</div>\n</template>\n<script>\nexport default {\n  mounted() {\n    setTimeout(() => {\n      const t = document.querySelector(\".v-toolbar-title__placeholder\");\n      if (t && !t.dataset.injected) {\n        t.dataset.injected = \"1\";\n        t.style.display = \"flex\";\n        t.style.alignItems = \"center\";\n        t.style.gap = \"10px\";\n        t.innerHTML = '<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX0AAACECAMAAABLTQsGAAAA21BMVEX///9LS031hjRISEpFRUfo6Oj8/PzT09Pv7+/39/dCQkRKSk1WVlj/kjvz8/P2hjP98ui/v8D5hChsbG2zs7M4ODo9PT//xKGYmJmRkZJgYGKkpKT+iDB/f4FSUlT6zK7Jycrc3Nyrq6z3o2fZ2dn0fB6FhYZkZGb0eBN2dnhqamyXl5j+9/LDw8ODg4T838/2jj/+6975uZX6yKX3nFf3om34q3r4tYn85NX/kTL/hBn70rj0dgX5u472kD7/wJv2nV72k0z3n1z3p3b4rob2jEb6z7j9fQAtLTClYnirAAAP+ElEQVR4nO2dC3OjthbHcSTAEC4EGxMDtYOJ8St2HG8eTutsm7Sbbb//J7oCP0APXllcz6b6d+bOjkFC/HQ4ko6OcgWBi4uLi4uLi4uLi4uLi4uLi4uL6z+t+UU5Sfs756du8SeSdPnr/8rot5Ww+i3+19upm/yZdNkyzkposhEuQnSn8cv1qVv8mXTZKgP/LHwU5usQ/YPTr1Ml6RuTC+H5vcXp16vL0CjlesK1IF2dtTj9WnVvtMLJJCz2/uFGmG/eXl4eTt3iz6T5xWq13Hx9CF8m+T7IuNsIwsVy/fXULf6Ekuar+99RB+R8AoZxH9956qZ+Jm3W98vVfB4znV89GK3sYcCY3F1dzDn9GvXH35OXl8nd09VzvIpdrd9a2R7ImEx+fTp1iz+T4hmnYaCR9279/Rl1wMUfr2GO/2m9nrrFn0mH+T7qgfDtywbxX315Dxlev9UKI72eusWfSdhqywjP/rpC/JePafOP56Stu4frv56eHh+456lRxFoXjbqvS+R+1nv8RvgSPnzdLJ9X+2jnqVv8mURFGhD/J0mQ7mP8rZeX6yWf5xxNjDiPEb49o6loiDzO22Ybzp9fLO/X138+PPx5fX/iBn8qMaNsrTO0rr0yHpEPisB/fYtmpWHYQgPvbzy+X6PYMc6WcSUJ6AMQVst1C4sC8ShbnWLTNybXkct5vn8Nick/p1+n2J7HWK+ief9DSF3l9OsUi37rPRpskd0zrnH6dYpBP3yPDP+xxQx4cvp1iqYfvqHp/eYsI9jM6dcpin74gGaZX16yAm2cfp2K9nXTIf3wURIu1pnwOf1adf/29nZnhOFuTh8+zoWLp0l2iJnTr1MXz8/Lzebqcn19hqb24eNKmP81yWTP6R9H89Xy+/rufSkI3/Lgc/q1arP+enm1XMXBtPlqJQnf6J2VnaIBwuB7W3Xqj0kr3kh/e9qGM6XLCT3kGq3wJYqzGb/fcduvU7sZp2Egvsb9RRTJv8Lm+sjcjfeHrxu+q3IEpef7xmRyvUSU53+87/kbrbPX9XIb5JfmsU7c4E8lfLVlhJPX74j/89NZnOsQvn3bRJ9DNCZfXX5Zr5+e+O5KjaLWuq3J4/e5MP9+1zLC9y/R/srF5vLbgxFuNeF5nDWKFWUzvj0j83+YrJ+R3S+/PJ6Fyf4KH3XrFCvCbLTe4ozZKLfk6R3Pb+b0K0sRcSnJpYy9LeMxGl0vnqhQ544+UaF4mvf6OeQ0MAEvuZRBP1zPBelqQucUbunrU4DV2OE5J9nyzjFYMEguMekbxhUy/GtWpHNLX2lz+qXl4bZfRN84+45G3TtmyIHTryySvpVcYmVTRZa/PGMnknP6lVWNfniJ4L9nZPFz+pVViX74JGXD5/Srqwp9I5wLq7fM8yucfmUF5ekbLythfp0Z4+f0qyuXvoFpco9+ezkzsvTLa1SK068gD2JSU/Tv8b9R8svDhbD6O++vlbxGpTj9CpI9XMPk0vP9VVr3z2i+g/+E634TleL0TylO/5Ti9E+pn4i+pESq1D6p4v0MKUrxPR9uxPHpx9Ckj1cr6QPTGcNOx7ZtVUX/0+k03JHni/lglaGnoSKq3YE9U9zdqmfG5yX8SnN7u+WiKjrg1tclRnFRT4o38SvSvhFdFzUaadwdMLoxh372s6jG7lpLUJO9aT9GtoVmu71gqFfshqbvNGyItxEJQGi73lDPKiZamr0rdI5uVm/l6N2lwN4rahRIzRibHTstN0JjauruaSr0oo2PLnaP3Uni+81RZ1vnVrN4NiSaYxUkLR6bFKVs+lKAN6iTiqcKzX/wa1OiYxXR7KHXOyeZqQ2mDWSzn9pkJYlgx5GZlSnmTCWerHYjfBb2s2YmRXQbu32KKsHiCrAr5EUamg7Eig/Qb/5UxZsOpz5hezn0LYhdSVsKMhX8Wg+vdhC4KmWvuybYXun9s6HTyKhlX5lmMb46vUt/LOjVh5XoS9jCFozlAvoAK47om3TbgWvhnMrTP8+lj9mg1VYzDRbd3CZNIEP+LJ99VFe/S+HXHZV1K2wP8+hjVxB9WcN+GAkV6Vvs5gZYU8vTb5Sm7xVYLBgvyuCX3UL40fsQ5iRINxnFQK9pYq+UQ78nYFyA5lei3xPNPrMV530z3dYj0PeKLdaVi+GLZeBH7zPEy3nZ9/ZGWJU5nsfB+wm4rKqz6bedcZYJaOmZQv2ex9SIBwPAcICFvl/qMoZbwKgLOpjX88t1WqRs+o1+A3s4MCvRzxNoH5N+8xa3mkZf07Q+6YvAqMj3iDiO6GWB5o7HrkZ2QGeQfp8bSJbLVA59UkJt9M/TT62dPjHajL1hUxflm3Yf/91OI2OJ9F9Au72x/OFQthw3EwIyfa1RWqXpQ68++mjylfieuukrXXriGxfAWg4AnBbQJ3qr0TYPjSadi5t8R1JAzXeA2tA0yPoiytCPnwSaH6MPVfRf3mPrpi/20vVpi6RIF0RuG0K0CNNm05GT73pEFeCTjvS3QlCwE2MSpyQFdWotfN/0yNGoUYI+UGdTF0J4I32EPpwFpmkGY5L/obr66Q/T9YF2aj6iN7RZz/ECy1z48kAsCDmI3gi9OFq9QwjQ8Ist9QQRR6kmT5Ep+Lu1nTKkFw9F9NUuaudADsb7nq9EH60qo1eUBjfkujuhUjd9eYy9X8r2heFAFJtlY46SoutNEb276TlTTe3gV3HXk6KwIAxN9Q4Dkk76skL61ras1Ny3uQp91duX0smJADg8t376WH1TYjL+MUlEmFfHh1bQPbxNgL9NMu4IjFlUPn2IL0sjVaAPUpEvkWAMgz3kuukPMMd73ui3LbGkuZeT0pRHRBgH3Owv6iPyPdNFA8IGc+mDER1ArUBfTY9TC4ivHkb71U7d9MnPDI2zaqc/dSwfufof3epQxOHC6VPxu8T2m8Sg66Y9nyASBXPp97GRZqvy9EEvHX4aEGPOYSCpfb4f0IP/tg/sjjYKUB98sAf0AZq4TG1W6DRFH18KgCm2pCb7Jo8+UXSr8vQhFn3SidAT2Adaaqc/bLPw726DaqNnyZl7IhmSRNkKnHZDZQSO42oP9EViQMC9h+JVoN9jNMQj4vXZ9G3so5MIn6f6+xbVHufJiXLFt8K+41fYYBlYXac3ziQfV5lFnwgBkW+U63m6Aq3y9KGPFSTp7/um/hgnOcLTgm635AaL6PXaGoB0aA1/ejZ9zM1JZnn6GhYJrky/jwdxCZTwePTJtRBDoNEug18caX2GyVNxzky//3H6wGXFocrT1/Lp7x98jL0tPXNbMSmgFTofJbAZNo9+0txbfOGUoo9PLuDoo54HuIwdyx+gjy93f5g+0Vh8Z1EItEaRt3AL4LP2B9GYMes5viRkrbb0W+yp4BZjqNyUHnWBy7KOCvN9nH7ww/QxzyPi1ZH0BbE7HTdy/bW6EHLVJYNTQNV6jjWI25e51u3i9GcYhCYWBSmgz2pTefqHWc0W5Y+PuligSyaukfRRxbLn3ObMVQqMX6bWnm3PPAwWWfQJz36OWYwwJL6m6vTLz3ly5/sfmHGq6VU7MXNm0I8UzdO7o9k5qwuAlru3S0WKd1a/FT6uJ/QFmfgmb9OjOxGGOKbtE2tdMtBTfbWFxUyI7aUM+vEDxKFvBiOX7gAvq4hAz5tsLAtCd7PoD4iGNYKknEW24Ij0G+fp8KJPXHT3Fyt4nlFiRyIZss6mv62rKcoBMRECtzkFgn7evXKm7etd4kWTcA2d43FEz4OGnKTbm7fkh1E9ypYex0m/UEQ/ro/YdwJ5e4sjvH51kHc1RV8wyVg6GnkVSVKG03Pq4zum7adCFeSY24CHTYecLFqTNPB9aE7p0Y8i6aMXRvbuY3EWfCWaS5/oXhtbnA2JZJk0fZFum2r3NZW1Ajmm7Ue753GOtNT0yAlEUi6H/oKccANgic2muKB2KhP6erwdFThTF0ZJvXh8nYi+j8rTh+l1v9gj7Tsdk7GoLaxMHdX2oxW9t5B9i6J1Pj44kRz6Pr3cgbbrAkaW5D6LVvHUznYrdvc7NudottNl+vTeUSLSgsfJFGJIW3eaPr2vnqnj2n4j/uwYOQ2p2F8O/SE5f4jEzo492D75vcCblO/BBhKg5YV6iL+Eg1q8nSZIQ69Nf3lYPLJ8MtuRbT/zsUmxHPoiOT/O1iGDfDAju8fZz650D3f76Yw6SiaZFAXajmcFN6M2K/Zzg5W1MpJ4ASQqPQ39ctlUrMykLB3o02Vg2wkWvm/dEA4DX4uTUigDjsJrfcBcOQMHKyt1me0Gfd+rEGVj0q/oeZjNKJdJiNxIzgAGsWvJ6YkB5XYB7LsunX2p5cFHrod+m+TVqfwBonCX9YGoPjn1O4ntY5tmefR1hx4yds8d45RTZ1dYpwYYmcd2UYCfnf++rU5zcLugetJ0iR4CfbS+VH7Y9gkKeautjObDWbrC3DOLi4x9EuDqeLwwfXKIXG0yK8gP8kTKPjsBx6bQxnyASpUeOG7y/gA22p4u/Kv0p+wE/rTTL6KfsUcLZwNBJOgnqy2pW3B0JVqG+0Xwkf3OmF8eaPRksosB3ZeS3+2hNVb0tyzAzAniL+1fpA9kmTwzF/3ad/BNm3z6ZHt3r4/WvCT9dLFgnDtcozaUyXCT5B7rpOjMikjiwWJ2yEj0rQDJMvdJFP8ifTSnEKnRR51ZRDpHwWlpJeiTQQo3zksVsS8L4mcW5a6WubcI7dGiZEqJaLXVdBYYgJ2puQ00K6PD2djIvDMdmZQ+pp1Hv2kntUViTgq6UMWUrBdZuyuKP4Iw5f7cYCARFSrtaG16eDL8h7xBdkC6CrA7IitqMNUUm4jz6LI1hXFUH0+hg7bW9Vk7phnsxGhxFR9Stzuq65iDQ0JrU8ZUKkeC2PnCcnwlvD6Z+XWKctZT2Xtb+sDqNbanxTXHF+lIpDQkaqTuQFVM43PYdqffMwf7rxgvR/Wq1BzIwe0YdHYHw6MD9+ORJTOakCtJ0ZviYDAQm6XyECUxJ1eOzPJ0CzY3KyhzZzEKNkat/3gSJSIgfqQKSVKUOA08oodK//BfrCiWOEVG0ojTRqPuwh8oEnmG7RInJ0sqf1/3v6JtgPk8Shu1VbfXldP8B2QqQH1/dJrTjyRi20gAy98nVyKw4PBSFXH6kajcguTsiuA3cOWGuCs/NyNP9j8lhTohcbOzft0iFs9gVnRotYI4/VjkdigaW2890wycHhU4yttbqypOP5ZMHU0EsK9pfSrqlb+7U1Wc/laM2AhT8Ka4rvLi9LfKOzuTNv2iLN5q4vR3svo5f5npAH9W7//BDKe/F5UxSAtO61vmxuL0DzK1fN8PGk6Nk81YnH6ioQNhpvsBsE3/acYfFUnf9ut+wk8kZeD1GX/FMwoAdXpy7ewj+njkv+PX/4yfSZJo9rT4Czg/j7cZon+Ob/yqh4XLPo0I1B/nMT+ZotMDCxNp4Q+qbi1wcXFxcXFxcXF9Lv0fOnKGSr0vWOoAAAAASUVORK5CYII=\" style=\"height:28px\"/> <span style=\"font-weight:700;font-size:1.05em\">Monitoreo de Drivers</span>';\n      }\n    }, 300);\n  }\n}\n</script>",
    "storeOutMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 500,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_d2_config_form",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_config",
    "name": "Config Form",
    "order": 1,
    "width": "24",
    "height": "12",
    "format": "<template>\n<div style=\"width:100%;padding:16px;font-family:Arial,sans-serif\">\n  <div style=\"display:flex;align-items:center;justify-content:space-between;margin-bottom:16px\">\n    <h2 style=\"color:#1a4d8f;margin:0\">Configuracion de Dispositivos</h2>\n    <button @click=\"showAdd=true\" style=\"background:#1a4d8f;color:white;border:none;padding:10px 20px;border-radius:6px;cursor:pointer;font-weight:bold\">+ Agregar Drive</button>\n  </div>\n  <div v-if=\"info\" style=\"padding:10px;border-radius:6px;margin-bottom:12px;font-weight:bold\" :style=\"{background:infoOk?'#e8f5e9':'#fbe9e7',color:infoOk?'#2e7d32':'#c62828'}\">{{info}}</div>\n  <div v-if=\"!loaded\" style=\"text-align:center;padding:40px;color:#999\">Cargando...</div>\n  <div v-if=\"loaded\">\n    <h3 style=\"color:#333;margin:0 0 8px\">Gateways</h3>\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">\n      <tr style=\"background:#1a4d8f;color:white\"><th style=\"padding:10px;text-align:left\">Nombre</th><th style=\"padding:10px;text-align:left\">IP</th><th style=\"padding:10px\">Puerto</th><th style=\"padding:10px;text-align:left\">Sitio</th></tr>\n      <tr v-for=\"g in gateways\" :key=\"g.name\" style=\"border-bottom:1px solid #e0e0e0\">\n        <td style=\"padding:10px;font-weight:bold\">{{g.name}}</td>\n        <td style=\"padding:10px;font-family:monospace\">{{g.ip}}</td>\n        <td style=\"padding:10px;text-align:center\">{{g.port}}</td>\n        <td style=\"padding:10px\">{{g.site}}</td>\n      </tr>\n    </table>\n    <h3 style=\"color:#333;margin:0 0 8px\">Dispositivos ({{devices.length}})</h3>\n    <table style=\"width:100%;border-collapse:collapse\">\n      <tr style=\"background:#1a4d8f;color:white\"><th style=\"padding:8px;text-align:left\">Nombre</th><th style=\"padding:8px\">Tipo</th><th style=\"padding:8px;text-align:left\">Sitio</th><th style=\"padding:8px;text-align:left\">IP</th><th style=\"padding:8px\">Puerto</th><th style=\"padding:8px\">Unit ID</th><th style=\"padding:8px\">Acciones</th></tr>\n      <tr v-for=\"(d,i) in devices\" :key=\"d.name+i\" style=\"border-bottom:1px solid #e0e0e0\">\n        <template v-if=\"editIdx===i\">\n          <td style=\"padding:6px\"><input v-model=\"editDev.name\" style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:4px\" /></td>\n          <td style=\"padding:6px\"><select v-model=\"editDev.type\" style=\"padding:6px;border:1px solid #ccc;border-radius:4px\"><option>CFW900</option><option>SSW900</option></select></td>\n          <td style=\"padding:6px\"><select v-model=\"editDev.site\" style=\"padding:6px;border:1px solid #ccc;border-radius:4px\"><option>Agriplus</option><option>Agrocaraya</option></select></td>\n          <td style=\"padding:6px\"><input v-model=\"editDev.ip\" style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:4px;font-family:monospace\" /></td>\n          <td style=\"padding:6px\"><input v-model.number=\"editDev.port\" type=\"number\" style=\"width:70px;padding:6px;border:1px solid #ccc;border-radius:4px;text-align:center\" /></td>\n          <td style=\"padding:6px\"><input v-model.number=\"editDev.unitId\" type=\"number\" style=\"width:50px;padding:6px;border:1px solid #ccc;border-radius:4px;text-align:center\" /></td>\n          <td style=\"padding:6px;white-space:nowrap\"><button @click=\"saveEdit(i)\" style=\"background:#2e7d32;color:white;border:none;padding:5px 12px;border-radius:4px;cursor:pointer;margin-right:4px\">Guardar</button><button @click=\"editIdx=-1\" style=\"background:#999;color:white;border:none;padding:5px 12px;border-radius:4px;cursor:pointer\">Cancelar</button></td>\n        </template>\n        <template v-else>\n          <td style=\"padding:8px;font-weight:bold\">{{d.name}}</td>\n          <td style=\"padding:8px;text-align:center\"><span :style=\"{background:d.type==='CFW900'?'#e3f2fd':'#f3e5f5',color:d.type==='CFW900'?'#1565c0':'#7b1fa2',padding:'2px 10px',borderRadius:'12px',fontSize:'12px',fontWeight:'bold'}\">{{d.type}}</span></td>\n          <td style=\"padding:8px\">{{d.site}}</td>\n          <td style=\"padding:8px;font-family:monospace\">{{d.ip}}</td>\n          <td style=\"padding:8px;text-align:center\">{{d.port}}</td>\n          <td style=\"padding:8px;text-align:center\">{{d.unitId}}</td>\n          <td style=\"padding:8px;white-space:nowrap\"><button @click=\"startEdit(i)\" style=\"background:#1a4d8f;color:white;border:none;padding:5px 12px;border-radius:4px;cursor:pointer;margin-right:4px\">Editar</button><button @click=\"delDevice(d.name)\" style=\"background:#c62828;color:white;border:none;padding:5px 12px;border-radius:4px;cursor:pointer\">Eliminar</button></td>\n        </template>\n      </tr>\n    </table>\n  </div>\n  <div v-if=\"showAdd\" style=\"position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);display:flex;align-items:center;justify-content:center;z-index:999\">\n    <div style=\"background:white;padding:24px;border-radius:12px;width:420px;max-width:90%\">\n      <h3 style=\"color:#1a4d8f;margin:0 0 16px\">Agregar Dispositivo</h3>\n      <div style=\"display:flex;flex-direction:column;gap:10px\">\n        <div><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">Nombre</label><input v-model=\"newDev.name\" placeholder=\"SAER X\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box\" /></div>\n        <div><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">Tipo</label><select v-model=\"newDev.type\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px\"><option>CFW900</option><option>SSW900</option></select></div>\n        <div><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">Sitio</label><select v-model=\"newDev.site\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px\"><option>Agriplus</option><option>Agrocaraya</option></select></div>\n        <div><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">IP</label><input v-model=\"newDev.ip\" placeholder=\"192.168.10.x\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-family:monospace;box-sizing:border-box\" /></div>\n        <div style=\"display:flex;gap:10px\">\n          <div style=\"flex:1\"><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">Puerto</label><input v-model.number=\"newDev.port\" type=\"number\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box\" /></div>\n          <div style=\"flex:1\"><label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:2px\">Unit ID</label><input v-model.number=\"newDev.unitId\" type=\"number\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box\" /></div>\n        </div>\n      </div>\n      <div style=\"display:flex;gap:10px;margin-top:16px;justify-content:flex-end\">\n        <button @click=\"showAdd=false\" style=\"background:#999;color:white;border:none;padding:10px 20px;border-radius:6px;cursor:pointer\">Cancelar</button>\n        <button @click=\"addDevice\" style=\"background:#1a4d8f;color:white;border:none;padding:10px 20px;border-radius:6px;cursor:pointer;font-weight:bold\">Agregar</button>\n      </div>\n    </div>\n  </div>\n</div>\n</template>\n<script>\nexport default {\n  data: function() {\n    return {\n      devices:[], gateways:[], loaded:false, info:\"\", infoOk:true,\n      showAdd:false, editIdx:-1,\n      newDev:{name:\"\",type:\"CFW900\",site:\"Agriplus\",ip:\"\",port:502,unitId:1},\n      editDev:{}\n    }\n  },\n  mounted: function() { this.load(); },\n  methods: {\n    api: function() { return \"http://\"+window.location.hostname+\":3200\"; },\n    load: function() {\n      var self=this;\n      Promise.all([\n        fetch(self.api()+\"/api/config/devices\").then(function(r){return r.json()}),\n        fetch(self.api()+\"/api/config/gateways\").then(function(r){return r.json()})\n      ]).then(function(res){ self.devices=res[0]; self.gateways=res[1]; self.loaded=true; })\n        .catch(function(e){ self.info=\"Error: \"+e.message; self.infoOk=false; self.loaded=true; });\n    },\n    addDevice: function() {\n      var self=this;\n      fetch(self.api()+\"/api/config/devices\",{method:\"POST\",headers:{\"Content-Type\":\"application/json\"},body:JSON.stringify(self.newDev)})\n        .then(function(r){ if(!r.ok) return r.json().then(function(e){throw new Error(e.error)}); return r.json(); })\n        .then(function(){ self.showAdd=false; self.newDev={name:\"\",type:\"CFW900\",site:\"Agriplus\",ip:\"\",port:502,unitId:1}; self.info=\"Dispositivo agregado\"; self.infoOk=true; self.load(); setTimeout(function(){self.info=\"\"},3000); })\n        .catch(function(e){ self.info=\"Error: \"+e.message; self.infoOk=false; });\n    },\n    startEdit: function(i) { this.editIdx=i; this.editDev=JSON.parse(JSON.stringify(this.devices[i])); },\n    saveEdit: function(i) {\n      var self=this;\n      self.devices[i]=JSON.parse(JSON.stringify(self.editDev));\n      fetch(self.api()+\"/api/config/devices\",{method:\"PUT\",headers:{\"Content-Type\":\"application/json\"},body:JSON.stringify(self.devices)})\n        .then(function(r){return r.json()})\n        .then(function(){ self.editIdx=-1; self.info=\"Dispositivo actualizado\"; self.infoOk=true; setTimeout(function(){self.info=\"\"},3000); })\n        .catch(function(e){ self.info=\"Error: \"+e.message; self.infoOk=false; });\n    },\n    delDevice: function(name) {\n      if(!confirm(\"Eliminar \"+name+\"?\")) return;\n      var self=this;\n      fetch(self.api()+\"/api/config/devices/\"+encodeURIComponent(name),{method:\"DELETE\"})\n        .then(function(r){return r.json()})\n        .then(function(){ self.info=name+\" eliminado\"; self.infoOk=true; self.load(); setTimeout(function(){self.info=\"\"},3000); })\n        .catch(function(e){ self.info=\"Error: \"+e.message; self.infoOk=false; });\n    }\n  }\n}\n</script>",
    "storeOutMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 510,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_influx_tick",
    "type": "inject",
    "z": "weg_d2_tab",
    "name": "InfluxDB 10s",
    "props": [],
    "repeat": "10",
    "once": true,
    "onceDelay": "15",
    "topic": "",
    "x": 140,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_mqtt_drives_in",
    "type": "mqtt in",
    "z": "weg_d2_tab",
    "name": "MQTT Drives",
    "topic": "weg/drives/+",
    "qos": "0",
    "datatype": "json",
    "broker": "weg_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [
      [
        "weg_mqtt_bridge"
      ]
    ]
  },
  {
    "id": "weg_mqtt_bridge",
    "type": "function",
    "z": "weg_d2_tab",
    "name": "MQTT → Global",
    "func": "// MQTT message from poller → store in cfwDevices global array\nvar data = msg.payload;\nif (!data || !data.name) return null;\n\n// Use the index from the poller (matches config.json order)\nvar idx = data.index;\nif (idx === undefined || idx === null) return null;\n\nvar devices = global.get(\"cfwDevices\") || [];\n\n// Ensure array is big enough\nwhile (devices.length <= idx) devices.push(null);\n\ndevices[idx] = data;\nglobal.set(\"cfwDevices\", devices);\n\nreturn null;",
    "outputs": 1,
    "x": 320,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_mqtt_status_in",
    "type": "mqtt in",
    "z": "weg_d2_tab",
    "name": "Poller Status",
    "topic": "weg/status",
    "qos": "0",
    "datatype": "json",
    "broker": "weg_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 160,
    "wires": [
      [
        "weg_poller_status_fn"
      ]
    ]
  },
  {
    "id": "weg_poller_status_fn",
    "type": "function",
    "z": "weg_d2_tab",
    "name": "Poller Status",
    "func": "var s = msg.payload;\nnode.status({\n    fill: s.poller === \"online\" ? \"green\" : \"red\",\n    shape: \"dot\",\n    text: s.online + \"/\" + s.total + \" online, \" + s.running + \" running\"\n});\nreturn null;",
    "outputs": 0,
    "x": 320,
    "y": 160,
    "wires": []
  },
  {
    "id": "weg_dash_inject",
    "type": "inject",
    "z": "weg_d2_tab",
    "name": "Dashboard 2s",
    "props": [],
    "repeat": "2",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "x": 120,
    "y": 300,
    "wires": [
      [
        "weg_dash_splitter"
      ]
    ]
  },
  {
    "id": "weg_dash_splitter",
    "type": "function",
    "z": "weg_d2_tab",
    "name": "Site Splitter",
    "func": "var devices = global.get(\"cfwDevices\") || [];\nvar customNames = global.get(\"deviceNames\") || {};\nvar driveConfig = global.get(\"driveConfig\") || [];\nvar gaugeConfig = global.get(\"gaugeConfigPerDrive\") || {};\n\n// Merge custom names and enabled status into devices\nfor (var i = 0; i < devices.length; i++) {\n    if (devices[i] && customNames[i]) {\n        devices[i].displayName = customNames[i];\n    } else if (devices[i]) {\n        devices[i].displayName = devices[i].name;\n    }\n    // Mark disabled devices from config\n    if (devices[i] && driveConfig[i]) {\n        devices[i].enabled = driveConfig[i].enabled !== false;\n    }\n}\n\n// Filter out disabled devices\n// Attach gauge config to each device\nfor (var j = 0; j < devices.length; j++) {\n    if (devices[j]) devices[j].gaugeConfig = gaugeConfig;\n}\nvar enabledDevices = devices.filter(function(d) { return d && d.enabled !== false; });\n\nfunction siteStats(siteName) {\n    var total = 0, online = 0, running = 0, faults = 0, faultTexts = [];\n    for (var i = 0; i < enabledDevices.length; i++) {\n        var d = enabledDevices[i];\n        if (!d || d.site !== siteName) continue;\n        total++;\n        if (d.online) {\n            online++;\n            if (d.running) running++;\n            if (d.hasFault) { faults++; faultTexts.push((d.displayName||d.name) + \": \" + d.faultText); }\n        }\n    }\n    var offline = total - online;\n    var alertColor, icon, text;\n    if (faultTexts.length > 0) {\n        alertColor = \"#ef4444\"; icon = \"mdi-alert\"; text = faultTexts.join(\" | \");\n    } else if (running > 0) {\n        alertColor = \"#3b82f6\"; icon = \"mdi-engine\"; text = running + \"/\" + online + \" DRIVES EN MARCHA\";\n    } else if (online > 0) {\n        alertColor = \"#22c55e\"; icon = \"mdi-check-circle\"; text = online + \"/\" + total + \" DRIVES ONLINE\";\n    } else {\n        alertColor = \"#f59e0b\"; icon = \"mdi-loading\"; text = \"CONECTANDO...\";\n    }\n    return {payload: {text: text, alertColor: alertColor, icon: icon, running: running, online: online, faults: faults, offline: offline}};\n}\n\nvar agri = {payload: enabledDevices, site: \"Agriplus\"};\nvar agro = {payload: enabledDevices, site: \"Agrocaraya\"};\nvar bannerAgri = siteStats(\"Agriplus\");\nvar bannerAgro = siteStats(\"Agrocaraya\");\n\n// Outputs: 1=Agriplus cards, 2=Agrocaraya cards, 3=Banner Agriplus, 4=Banner Agrocaraya\nreturn [agri, agro, bannerAgri, bannerAgro];",
    "outputs": 4,
    "x": 300,
    "y": 300,
    "wires": [
      [
        "weg_dash_agri_cards"
      ],
      [
        "weg_dash_agro_cards"
      ],
      [
        "weg_d2_navstats"
      ],
      [
        "weg_d2_banner_agro"
      ]
    ]
  },
  {
    "id": "weg_dash_agri_cards",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_agri_drives",
    "page": "",
    "ui": "",
    "name": "Agriplus Drive Cards",
    "order": 1,
    "width": "24",
    "height": "-1",
    "head": "",
    "format": "<template>\n<div>\n  <div v-if=\"!devices.length\" style=\"padding:24px;text-align:center;color:#999\">\n    <v-icon size=\"48\" color=\"grey\">mdi-database-off</v-icon>\n    <div style=\"margin-top:8px\">No hay dispositivos para este sitio</div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:16px;padding:8px\">\n    <v-card v-for=\"d in devices\" :key=\"d.name\" :style=\"{borderLeft:'4px solid ' + borderColor(d)}\" elevation=\"2\" rounded=\"lg\" class=\"pa-0\">\n\n      <!-- STATUS HEADER -->\n      <v-card-item class=\"pb-1\">\n        <template v-slot:title>\n          <div style=\"display:flex;align-items:center;gap:4px;flex-wrap:nowrap\">\n            <span style=\"font-weight:700;font-size:1.1em\">{{ d.displayName || d.name }}</span>\n            <v-btn icon variant=\"text\" size=\"x-small\" @click=\"openRename(d)\" style=\"opacity:0.4\" title=\"Renombrar\">\n              <v-icon size=\"14\">mdi-pencil</v-icon>\n            </v-btn>\n            <v-chip size=\"x-small\" variant=\"tonal\" :color=\"d.type==='SSW900'?'purple':'blue'\" class=\"ml-1\">{{d.type}}</v-chip>\n                      </div>\n        </template>\n        <template v-slot:append>\n          <v-chip :color=\"chipColor(d)\" variant=\"elevated\" size=\"default\" label style=\"font-weight:800;font-size:0.9em;letter-spacing:0.5px\">\n            <v-icon start :icon=\"chipIcon(d)\"></v-icon>\n            {{ chipText(d) }}\n          </v-chip>\n        </template>\n      </v-card-item>\n\n      <v-divider></v-divider>\n\n      <!-- GAUGES ROW -->\n      <div v-if=\"d.online\" :style=\"{display:'grid',gridTemplateColumns:'repeat('+gaugesFor(d).length+',1fr)',gap:'4px',padding:'12px 8px 4px',textAlign:'center'}\">\n        <div v-for=\"g in gaugesFor(d)\" :key=\"g.label\">\n          <div style=\"font-size:0.7em;color:#888;font-weight:600;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:2px\">{{g.label}}</div>\n          <svg viewBox=\"0 0 100 55\" preserveAspectRatio=\"xMidYMid meet\" style=\"width:100%;max-width:180px;height:auto;display:block;margin:0 auto\">\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c1\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z1len+' 226'\" stroke-dashoffset=\"0\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c2\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z2len+' 226'\" :stroke-dashoffset=\"'-'+g.z1len\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c3\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z3len+' 226'\" :stroke-dashoffset=\"'-'+(g.z1len+g.z2len)\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle v-if=\"g.fillLen>0.5\" cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.arcColor\" stroke-width=\"7\" :stroke-dasharray=\"g.fillLen+' 226'\" stroke-dashoffset=\"0\" transform=\"rotate(180,50,50)\" stroke-linecap=\"round\"/>\n            <text x=\"50\" y=\"38\" text-anchor=\"middle\" fill=\"#1a1a2e\" font-size=\"17\" font-weight=\"700\" font-family=\"monospace\">{{g.value}}</text>\n            <text x=\"50\" y=\"51\" text-anchor=\"middle\" fill=\"#999\" font-size=\"10\" font-family=\"monospace\">{{g.unit}}</text>\n          </svg>\n        </div>\n      </div>\n\n      <!-- OFFLINE -->\n      <div v-else style=\"padding:24px;text-align:center;color:#bbb\">\n        <v-icon size=\"36\" color=\"grey-lighten-1\">mdi-power-plug-off</v-icon>\n        <div style=\"margin-top:4px;font-size:0.9em\">Drive sin conexion</div>\n      </div>\n\n      <!-- METRICS ROW -->\n      <div v-if=\"d.online\" style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:6px;padding:4px 12px 8px\">\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid #f59e0b\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Potencia</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\">{{fmt(d.power)}} <span style=\"font-size:0.6em;color:#999\">kW</span></div>\n        </div>\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid #8b5cf6\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Cos phi</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\">{{fmt(d.cosPhi)}}</div>\n        </div>\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid\" :style=\"{borderLeftColor: d.motorTemp>100?'#ef4444':d.motorTemp>60?'#f59e0b':'#22c55e'}\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Temp. Motor</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\" :style=\"{color: d.motorTemp>100?'#ef4444':d.motorTemp>60?'#f59e0b':'#22c55e'}\">{{fmtT(d.motorTemp)}} <span style=\"font-size:0.6em;color:#999\">&deg;C</span></div>\n        </div>\n      </div>\n\n      <!-- FAULT/ALARM -->\n      <v-alert v-if=\"d.hasFault\" type=\"error\" density=\"compact\" variant=\"tonal\" class=\"mx-3 mb-2\" style=\"font-family:monospace;font-size:0.85em\">\n        <strong>FALLA:</strong> {{ d.faultText }}\n      </v-alert>\n      <v-alert v-if=\"d.hasAlarm && !d.hasFault\" type=\"warning\" density=\"compact\" variant=\"tonal\" class=\"mx-3 mb-2\" style=\"font-family:monospace;font-size:0.85em\">\n        Alarma: {{ d.alarmText }}\n      </v-alert>\n\n      <!-- FOOTER -->\n      <v-card-actions v-if=\"d.online\" style=\"padding:4px 12px 8px;justify-content:space-between\">\n        <span style=\"font-size:0.7em;color:#bbb;font-family:monospace\">\n          <v-icon size=\"12\" class=\"mr-1\">mdi-clock-outline</v-icon>\n          <template v-if=\"d.hoursEnergized!=='-'\"><span style=\"font-size:1.15em;font-weight:700;color:#111\">{{d.hoursEnergized}}h encendido | {{d.hoursEnabled}}h habilitado</span></template>\n          <template v-else>Soft Starter</template>\n        </span>\n        <v-chip :color=\"d.hasFault?'red':'green'\" variant=\"tonal\" size=\"x-small\" label>\n          {{ d.hasFault ? d.faultText : 'Sin Falla' }}\n        </v-chip>\n      </v-card-actions>\n    </v-card>\n  </div>\n\n  <!-- RENAME DIALOG -->\n  <v-dialog v-model=\"renameDialog\" max-width=\"400\" persistent>\n    <v-card>\n      <v-card-title style=\"font-weight:700\">Renombrar Dispositivo</v-card-title>\n      <v-card-text>\n        <div style=\"color:#999;font-size:0.85em;margin-bottom:8px\">Nombre actual: {{ renameOld }}</div>\n        <v-text-field v-model=\"renameName\" label=\"Nuevo nombre\" variant=\"outlined\" density=\"compact\" autofocus @keyup.enter=\"saveRename\"></v-text-field>\n      </v-card-text>\n      <v-card-actions>\n        <v-spacer></v-spacer>\n        <v-btn variant=\"text\" @click=\"renameDialog=false\">Cancelar</v-btn>\n        <v-btn color=\"blue\" variant=\"elevated\" @click=\"saveRename\" :disabled=\"!renameName.trim()\">Guardar</v-btn>\n      </v-card-actions>\n    </v-card>\n  </v-dialog>\n</div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      allDevices: [],\n      renameDialog: false,\n      renameName: \"\",\n      renameOld: \"\",\n      renameIndex: null\n    }\n  },\n  computed: {\n    devices() {\n      return this.allDevices.filter(function(d) { return d && d.site === this.site; }.bind(this));\n    },\n    site() {\n      return this.msg?.site || \"Agriplus\";\n    }\n  },\n  watch: {\n    msg(v) {\n      if (v && v.payload && Array.isArray(v.payload)) {\n        this.allDevices = v.payload;\n      }\n    }\n  },\n  methods: {\n    borderColor(d) { return d.running?\"#2563eb\":d.ready?\"#16a34a\":d.fault?\"#dc2626\":d.online?\"#f59e0b\":\"#e5e7eb\"; },\n    chipColor(d) { return d.running?\"blue\":d.ready?\"green\":d.fault?\"red\":d.online?\"orange\":\"grey\"; },\n    chipIcon(d) { return d.running?\"mdi-play-circle\":d.ready?\"mdi-check-circle\":d.fault?\"mdi-alert-circle\":d.online?\"mdi-pause-circle\":\"mdi-power-plug-off\"; },\n    chipText(d) { return d.running?\"EN MARCHA\":d.ready?\"LISTO\":d.fault?\"FALLA\":d.online?\"PARADO\":\"OFFLINE\"; },\n    fmt(v) { return v != null && v.toFixed ? v.toFixed(2) : \"0\"; },\n    fmtT(v) { return v != null && v.toFixed ? v.toFixed(1) : \"0\"; },\n    openRename(d) {\n      this.renameOld = d.displayName || d.name;\n      this.renameName = d.displayName || d.name;\n      this.renameIndex = d.index;\n      this.renameDialog = true;\n    },\n    saveRename() {\n      if (!this.renameName.trim()) return;\n      this.send({topic: \"rename\", payload: {index: this.renameIndex, newName: this.renameName.trim()}});\n      // Update locally immediately\n      var dev = this.allDevices[this.renameIndex];\n      if (dev) dev.displayName = this.renameName.trim();\n      this.renameDialog = false;\n    },\n    gaugesFor(d) {\n      var half = 113.097;\n      var isCFW = d.type !== \"SSW900\";\n      var gc = (d.gaugeConfig && d.gaugeConfig[d.index]) || {};\n      var defs = {\n        velocidad: gc.velocidad || {min:0,max:1800,green:1200,yellow:1500,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        corriente: gc.corriente || {min:0,max:150,green:80,yellow:120,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        tension: gc.tension || {min:0,max:500,green:380,yellow:480,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        frecuencia: gc.frecuencia || {min:0,max:70,green:50,yellow:62,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"}\n      };\n      function mk(key, val, label, unit) {\n        var c = defs[key];\n        var range = c.max - c.min; if(range<=0) range=1;\n        var gPct = (c.green - c.min) / range;\n        var yPct = (c.yellow - c.min) / range;\n        var vPct = Math.max(0, Math.min((val - c.min) / range, 1));\n        var color = val<=c.green ? (c.c1||\"#22c55e\") : val<=c.yellow ? (c.c2||\"#f59e0b\") : (c.c3||\"#ef4444\");\n        return {\n          z1len: gPct*half, z2len:(yPct-gPct)*half, z3len:(1-yPct)*half,\n          fillLen: vPct*half,\n          c1:c.c1||\"#22c55e\", c2:c.c2||\"#f59e0b\", c3:c.c3||\"#ef4444\",\n          arcColor: color,\n          label: label,\n          value: typeof val===\"number\"&&val%1!==0 ? val.toFixed(1) : val,\n          unit: unit\n        };\n      }\n      var g = [];\n      if (isCFW) {\n        g.push(mk(\"velocidad\", d.motorSpeed||0, \"Velocidad\", \"RPM\"));\n      }\n      g.push(mk(\"corriente\", d.current||0, \"Corriente\", \"A\"));\n      g.push(mk(\"tension\", d.outputVoltage||0, \"Tension Salida\", \"V\"));\n      if (isCFW) {\n        g.push(mk(\"frecuencia\", d.frequency||0, \"Frecuencia\", \"Hz\"));\n      }\n      return g;\n    }\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 520,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_dash_agro_cards",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_agro_drives",
    "page": "",
    "ui": "",
    "name": "Agrocaraya Drive Cards",
    "order": 1,
    "width": "24",
    "height": "-1",
    "head": "",
    "format": "<template>\n<div>\n  <div v-if=\"!devices.length\" style=\"padding:24px;text-align:center;color:#999\">\n    <v-icon size=\"48\" color=\"grey\">mdi-database-off</v-icon>\n    <div style=\"margin-top:8px\">No hay dispositivos para este sitio</div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:16px;padding:8px\">\n    <v-card v-for=\"d in devices\" :key=\"d.name\" :style=\"{borderLeft:'4px solid ' + borderColor(d)}\" elevation=\"2\" rounded=\"lg\" class=\"pa-0\">\n\n      <!-- STATUS HEADER -->\n      <v-card-item class=\"pb-1\">\n        <template v-slot:title>\n          <div style=\"display:flex;align-items:center;gap:4px;flex-wrap:nowrap\">\n            <span style=\"font-weight:700;font-size:1.1em\">{{ d.displayName || d.name }}</span>\n            <v-btn icon variant=\"text\" size=\"x-small\" @click=\"openRename(d)\" style=\"opacity:0.4\" title=\"Renombrar\">\n              <v-icon size=\"14\">mdi-pencil</v-icon>\n            </v-btn>\n            <v-chip size=\"x-small\" variant=\"tonal\" :color=\"d.type==='SSW900'?'purple':'blue'\" class=\"ml-1\">{{d.type}}</v-chip>\n                      </div>\n        </template>\n        <template v-slot:append>\n          <v-chip :color=\"chipColor(d)\" variant=\"elevated\" size=\"default\" label style=\"font-weight:800;font-size:0.9em;letter-spacing:0.5px\">\n            <v-icon start :icon=\"chipIcon(d)\"></v-icon>\n            {{ chipText(d) }}\n          </v-chip>\n        </template>\n      </v-card-item>\n\n      <v-divider></v-divider>\n\n      <!-- GAUGES ROW -->\n      <div v-if=\"d.online\" :style=\"{display:'grid',gridTemplateColumns:'repeat('+gaugesFor(d).length+',1fr)',gap:'4px',padding:'12px 8px 4px',textAlign:'center'}\">\n        <div v-for=\"g in gaugesFor(d)\" :key=\"g.label\">\n          <div style=\"font-size:0.7em;color:#888;font-weight:600;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:2px\">{{g.label}}</div>\n          <svg viewBox=\"0 0 100 55\" preserveAspectRatio=\"xMidYMid meet\" style=\"width:100%;max-width:180px;height:auto;display:block;margin:0 auto\">\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c1\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z1len+' 226'\" stroke-dashoffset=\"0\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c2\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z2len+' 226'\" :stroke-dashoffset=\"'-'+g.z1len\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.c3\" stroke-width=\"7\" opacity=\"0.3\" :stroke-dasharray=\"g.z3len+' 226'\" :stroke-dashoffset=\"'-'+(g.z1len+g.z2len)\" transform=\"rotate(180,50,50)\" stroke-linecap=\"butt\"/>\n            <circle v-if=\"g.fillLen>0.5\" cx=\"50\" cy=\"50\" r=\"36\" fill=\"none\" :stroke=\"g.arcColor\" stroke-width=\"7\" :stroke-dasharray=\"g.fillLen+' 226'\" stroke-dashoffset=\"0\" transform=\"rotate(180,50,50)\" stroke-linecap=\"round\"/>\n            <text x=\"50\" y=\"38\" text-anchor=\"middle\" fill=\"#1a1a2e\" font-size=\"17\" font-weight=\"700\" font-family=\"monospace\">{{g.value}}</text>\n            <text x=\"50\" y=\"51\" text-anchor=\"middle\" fill=\"#999\" font-size=\"10\" font-family=\"monospace\">{{g.unit}}</text>\n          </svg>\n        </div>\n      </div>\n\n      <!-- OFFLINE -->\n      <div v-else style=\"padding:24px;text-align:center;color:#bbb\">\n        <v-icon size=\"36\" color=\"grey-lighten-1\">mdi-power-plug-off</v-icon>\n        <div style=\"margin-top:4px;font-size:0.9em\">Drive sin conexion</div>\n      </div>\n\n      <!-- METRICS ROW -->\n      <div v-if=\"d.online\" style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:6px;padding:4px 12px 8px\">\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid #f59e0b\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Potencia</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\">{{fmt(d.power)}} <span style=\"font-size:0.6em;color:#999\">kW</span></div>\n        </div>\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid #8b5cf6\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Cos phi</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\">{{fmt(d.cosPhi)}}</div>\n        </div>\n        <div style=\"background:#f8fafc;border-radius:8px;padding:8px 10px;border-left:3px solid\" :style=\"{borderLeftColor: d.motorTemp>100?'#ef4444':d.motorTemp>60?'#f59e0b':'#22c55e'}\">\n          <div style=\"font-size:0.75em;color:#999;font-weight:600;text-transform:uppercase\">Temp. Motor</div>\n          <div style=\"font-size:1.5em;font-weight:700;font-family:monospace\" :style=\"{color: d.motorTemp>100?'#ef4444':d.motorTemp>60?'#f59e0b':'#22c55e'}\">{{fmtT(d.motorTemp)}} <span style=\"font-size:0.6em;color:#999\">&deg;C</span></div>\n        </div>\n      </div>\n\n      <!-- FAULT/ALARM -->\n      <v-alert v-if=\"d.hasFault\" type=\"error\" density=\"compact\" variant=\"tonal\" class=\"mx-3 mb-2\" style=\"font-family:monospace;font-size:0.85em\">\n        <strong>FALLA:</strong> {{ d.faultText }}\n      </v-alert>\n      <v-alert v-if=\"d.hasAlarm && !d.hasFault\" type=\"warning\" density=\"compact\" variant=\"tonal\" class=\"mx-3 mb-2\" style=\"font-family:monospace;font-size:0.85em\">\n        Alarma: {{ d.alarmText }}\n      </v-alert>\n\n      <!-- FOOTER -->\n      <v-card-actions v-if=\"d.online\" style=\"padding:4px 12px 8px;justify-content:space-between\">\n        <span style=\"font-size:0.7em;color:#bbb;font-family:monospace\">\n          <v-icon size=\"12\" class=\"mr-1\">mdi-clock-outline</v-icon>\n          <template v-if=\"d.hoursEnergized!=='-'\"><span style=\"font-size:1.15em;font-weight:700;color:#111\">{{d.hoursEnergized}}h encendido | {{d.hoursEnabled}}h habilitado</span></template>\n          <template v-else>Soft Starter</template>\n        </span>\n        <v-chip :color=\"d.hasFault?'red':'green'\" variant=\"tonal\" size=\"x-small\" label>\n          {{ d.hasFault ? d.faultText : 'Sin Falla' }}\n        </v-chip>\n      </v-card-actions>\n    </v-card>\n  </div>\n\n  <!-- RENAME DIALOG -->\n  <v-dialog v-model=\"renameDialog\" max-width=\"400\" persistent>\n    <v-card>\n      <v-card-title style=\"font-weight:700\">Renombrar Dispositivo</v-card-title>\n      <v-card-text>\n        <div style=\"color:#999;font-size:0.85em;margin-bottom:8px\">Nombre actual: {{ renameOld }}</div>\n        <v-text-field v-model=\"renameName\" label=\"Nuevo nombre\" variant=\"outlined\" density=\"compact\" autofocus @keyup.enter=\"saveRename\"></v-text-field>\n      </v-card-text>\n      <v-card-actions>\n        <v-spacer></v-spacer>\n        <v-btn variant=\"text\" @click=\"renameDialog=false\">Cancelar</v-btn>\n        <v-btn color=\"blue\" variant=\"elevated\" @click=\"saveRename\" :disabled=\"!renameName.trim()\">Guardar</v-btn>\n      </v-card-actions>\n    </v-card>\n  </v-dialog>\n</div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      allDevices: [],\n      renameDialog: false,\n      renameName: \"\",\n      renameOld: \"\",\n      renameIndex: null\n    }\n  },\n  computed: {\n    devices() {\n      return this.allDevices.filter(function(d) { return d && d.site === this.site; }.bind(this));\n    },\n    site() {\n      return this.msg?.site || \"Agriplus\";\n    }\n  },\n  watch: {\n    msg(v) {\n      if (v && v.payload && Array.isArray(v.payload)) {\n        this.allDevices = v.payload;\n      }\n    }\n  },\n  methods: {\n    borderColor(d) { return d.running?\"#2563eb\":d.ready?\"#16a34a\":d.fault?\"#dc2626\":d.online?\"#f59e0b\":\"#e5e7eb\"; },\n    chipColor(d) { return d.running?\"blue\":d.ready?\"green\":d.fault?\"red\":d.online?\"orange\":\"grey\"; },\n    chipIcon(d) { return d.running?\"mdi-play-circle\":d.ready?\"mdi-check-circle\":d.fault?\"mdi-alert-circle\":d.online?\"mdi-pause-circle\":\"mdi-power-plug-off\"; },\n    chipText(d) { return d.running?\"EN MARCHA\":d.ready?\"LISTO\":d.fault?\"FALLA\":d.online?\"PARADO\":\"OFFLINE\"; },\n    fmt(v) { return v != null && v.toFixed ? v.toFixed(2) : \"0\"; },\n    fmtT(v) { return v != null && v.toFixed ? v.toFixed(1) : \"0\"; },\n    openRename(d) {\n      this.renameOld = d.displayName || d.name;\n      this.renameName = d.displayName || d.name;\n      this.renameIndex = d.index;\n      this.renameDialog = true;\n    },\n    saveRename() {\n      if (!this.renameName.trim()) return;\n      this.send({topic: \"rename\", payload: {index: this.renameIndex, newName: this.renameName.trim()}});\n      // Update locally immediately\n      var dev = this.allDevices[this.renameIndex];\n      if (dev) dev.displayName = this.renameName.trim();\n      this.renameDialog = false;\n    },\n    gaugesFor(d) {\n      var half = 113.097;\n      var isCFW = d.type !== \"SSW900\";\n      var gc = (d.gaugeConfig && d.gaugeConfig[d.index]) || {};\n      var defs = {\n        velocidad: gc.velocidad || {min:0,max:1800,green:1200,yellow:1500,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        corriente: gc.corriente || {min:0,max:150,green:80,yellow:120,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        tension: gc.tension || {min:0,max:500,green:380,yellow:480,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"},\n        frecuencia: gc.frecuencia || {min:0,max:70,green:50,yellow:62,c1:\"#22c55e\",c2:\"#f59e0b\",c3:\"#ef4444\"}\n      };\n      function mk(key, val, label, unit) {\n        var c = defs[key];\n        var range = c.max - c.min; if(range<=0) range=1;\n        var gPct = (c.green - c.min) / range;\n        var yPct = (c.yellow - c.min) / range;\n        var vPct = Math.max(0, Math.min((val - c.min) / range, 1));\n        var color = val<=c.green ? (c.c1||\"#22c55e\") : val<=c.yellow ? (c.c2||\"#f59e0b\") : (c.c3||\"#ef4444\");\n        return {\n          z1len: gPct*half, z2len:(yPct-gPct)*half, z3len:(1-yPct)*half,\n          fillLen: vPct*half,\n          c1:c.c1||\"#22c55e\", c2:c.c2||\"#f59e0b\", c3:c.c3||\"#ef4444\",\n          arcColor: color,\n          label: label,\n          value: typeof val===\"number\"&&val%1!==0 ? val.toFixed(1) : val,\n          unit: unit\n        };\n      }\n      var g = [];\n      if (isCFW) {\n        g.push(mk(\"velocidad\", d.motorSpeed||0, \"Velocidad\", \"RPM\"));\n      }\n      g.push(mk(\"corriente\", d.current||0, \"Corriente\", \"A\"));\n      g.push(mk(\"tension\", d.outputVoltage||0, \"Tension Salida\", \"V\"));\n      if (isCFW) {\n        g.push(mk(\"frecuencia\", d.frequency||0, \"Frecuencia\", \"Hz\"));\n      }\n      return g;\n    }\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 530,
    "y": 260,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_d2_banner_agro",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_banner_agro",
    "page": "",
    "ui": "",
    "name": "Banner Agrocaraya",
    "order": 1,
    "width": "24",
    "height": "-1",
    "head": "",
    "format": "<template>\n<div v-if=\"msg?.payload\">\n  <div style=\"display:flex;align-items:center;gap:12px;margin-bottom:8px\">\n    <v-alert :color=\"msg.payload.alertColor || '#3b82f6'\" :icon=\"msg.payload.icon || 'mdi-information'\" variant=\"tonal\" density=\"compact\" style=\"font-family:monospace;font-weight:700;font-size:0.85em;letter-spacing:0.5px;flex:1\">{{ msg.payload.text }}</v-alert>\n    <div style=\"display:flex;gap:14px;text-align:center;flex-shrink:0\">\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#3b82f6\">{{msg.payload.running || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Running</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#22c55e\">{{msg.payload.online || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Online</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace\" :style=\"{color:msg.payload.faults>0?'#ef4444':'#ddd'}\">{{msg.payload.faults || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Faults</div></div>\n      <div><div style=\"font-size:1.4em;font-weight:800;font-family:monospace;color:#94a3b8\">{{msg.payload.offline || 0}}</div><div style=\"font-size:0.55em;color:#999;font-weight:600;text-transform:uppercase\">Offline</div></div>\n    </div>\n  </div>\n</div>\n</template>\n<script>\nexport default {}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 510,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_d2_grafana_iframe",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_grafana",
    "page": "",
    "ui": "",
    "name": "Grafana Iframe",
    "order": 1,
    "width": "24",
    "height": "-1",
    "head": "",
    "format": "<template>\n<div style=\"position:fixed;top:48px;left:0;right:0;bottom:0;z-index:10;background:#fff\">\n  <iframe\n    :src=\"grafanaUrl\"\n    style=\"width:100%;height:100%;border:none\"\n    frameborder=\"0\"\n  ></iframe>\n</div>\n</template>\n<script>\nexport default {\n  mounted() {\n    function injectLogo(){var t=document.querySelector(\".v-toolbar-title__placeholder\");if(t&&!t.querySelector(\"img\")){t.style.display=\"flex\";t.style.alignItems=\"center\";t.style.gap=\"10px\";t.innerHTML='<img src=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX0AAACECAMAAABLTQsGAAAA21BMVEX///9LS031hjRISEpFRUfo6Oj8/PzT09Pv7+/39/dCQkRKSk1WVlj/kjvz8/P2hjP98ui/v8D5hChsbG2zs7M4ODo9PT//xKGYmJmRkZJgYGKkpKT+iDB/f4FSUlT6zK7Jycrc3Nyrq6z3o2fZ2dn0fB6FhYZkZGb0eBN2dnhqamyXl5j+9/LDw8ODg4T838/2jj/+6975uZX6yKX3nFf3om34q3r4tYn85NX/kTL/hBn70rj0dgX5u472kD7/wJv2nV72k0z3n1z3p3b4rob2jEb6z7j9fQAtLTClYnirAAAP+ElEQVR4nO2dC3OjthbHcSTAEC4EGxMDtYOJ8St2HG8eTutsm7Sbbb//J7oCP0APXllcz6b6d+bOjkFC/HQ4ko6OcgWBi4uLi4uLi4uLi4uLi4uLi4uL6z+t+UU5Sfs756du8SeSdPnr/8rot5Ww+i3+19upm/yZdNkyzkposhEuQnSn8cv1qVv8mXTZKgP/LHwU5usQ/YPTr1Ml6RuTC+H5vcXp16vL0CjlesK1IF2dtTj9WnVvtMLJJCz2/uFGmG/eXl4eTt3iz6T5xWq13Hx9CF8m+T7IuNsIwsVy/fXULf6Ekuar+99RB+R8AoZxH9956qZ+Jm3W98vVfB4znV89GK3sYcCY3F1dzDn9GvXH35OXl8nd09VzvIpdrd9a2R7ImEx+fTp1iz+T4hmnYaCR9279/Rl1wMUfr2GO/2m9nrrFn0mH+T7qgfDtywbxX315Dxlev9UKI72eusWfSdhqywjP/rpC/JePafOP56Stu4frv56eHh+456lRxFoXjbqvS+R+1nv8RvgSPnzdLJ9X+2jnqVv8mURFGhD/J0mQ7mP8rZeX6yWf5xxNjDiPEb49o6loiDzO22Ybzp9fLO/X138+PPx5fX/iBn8qMaNsrTO0rr0yHpEPisB/fYtmpWHYQgPvbzy+X6PYMc6WcSUJ6AMQVst1C4sC8ShbnWLTNybXkct5vn8Nick/p1+n2J7HWK+ief9DSF3l9OsUi37rPRpskd0zrnH6dYpBP3yPDP+xxQx4cvp1iqYfvqHp/eYsI9jM6dcpin74gGaZX16yAm2cfp2K9nXTIf3wURIu1pnwOf1adf/29nZnhOFuTh8+zoWLp0l2iJnTr1MXz8/Lzebqcn19hqb24eNKmP81yWTP6R9H89Xy+/rufSkI3/Lgc/q1arP+enm1XMXBtPlqJQnf6J2VnaIBwuB7W3Xqj0kr3kh/e9qGM6XLCT3kGq3wJYqzGb/fcduvU7sZp2Egvsb9RRTJv8Lm+sjcjfeHrxu+q3IEpef7xmRyvUSU53+87/kbrbPX9XIb5JfmsU7c4E8lfLVlhJPX74j/89NZnOsQvn3bRJ9DNCZfXX5Zr5+e+O5KjaLWuq3J4/e5MP9+1zLC9y/R/srF5vLbgxFuNeF5nDWKFWUzvj0j83+YrJ+R3S+/PJ6Fyf4KH3XrFCvCbLTe4ozZKLfk6R3Pb+b0K0sRcSnJpYy9LeMxGl0vnqhQ544+UaF4mvf6OeQ0MAEvuZRBP1zPBelqQucUbunrU4DV2OE5J9nyzjFYMEguMekbxhUy/GtWpHNLX2lz+qXl4bZfRN84+45G3TtmyIHTryySvpVcYmVTRZa/PGMnknP6lVWNfniJ4L9nZPFz+pVViX74JGXD5/Srqwp9I5wLq7fM8yucfmUF5ekbLythfp0Z4+f0qyuXvoFpco9+ezkzsvTLa1SK068gD2JSU/Tv8b9R8svDhbD6O++vlbxGpTj9CpI9XMPk0vP9VVr3z2i+g/+E634TleL0TylO/5Ti9E+pn4i+pESq1D6p4v0MKUrxPR9uxPHpx9Ckj1cr6QPTGcNOx7ZtVUX/0+k03JHni/lglaGnoSKq3YE9U9zdqmfG5yX8SnN7u+WiKjrg1tclRnFRT4o38SvSvhFdFzUaadwdMLoxh372s6jG7lpLUJO9aT9GtoVmu71gqFfshqbvNGyItxEJQGi73lDPKiZamr0rdI5uVm/l6N2lwN4rahRIzRibHTstN0JjauruaSr0oo2PLnaP3Uni+81RZ1vnVrN4NiSaYxUkLR6bFKVs+lKAN6iTiqcKzX/wa1OiYxXR7KHXOyeZqQ2mDWSzn9pkJYlgx5GZlSnmTCWerHYjfBb2s2YmRXQbu32KKsHiCrAr5EUamg7Eig/Qb/5UxZsOpz5hezn0LYhdSVsKMhX8Wg+vdhC4KmWvuybYXun9s6HTyKhlX5lmMb46vUt/LOjVh5XoS9jCFozlAvoAK47om3TbgWvhnMrTP8+lj9mg1VYzDRbd3CZNIEP+LJ99VFe/S+HXHZV1K2wP8+hjVxB9WcN+GAkV6Vvs5gZYU8vTb5Sm7xVYLBgvyuCX3UL40fsQ5iRINxnFQK9pYq+UQ78nYFyA5lei3xPNPrMV530z3dYj0PeKLdaVi+GLZeBH7zPEy3nZ9/ZGWJU5nsfB+wm4rKqz6bedcZYJaOmZQv2ex9SIBwPAcICFvl/qMoZbwKgLOpjX88t1WqRs+o1+A3s4MCvRzxNoH5N+8xa3mkZf07Q+6YvAqMj3iDiO6GWB5o7HrkZ2QGeQfp8bSJbLVA59UkJt9M/TT62dPjHajL1hUxflm3Yf/91OI2OJ9F9Au72x/OFQthw3EwIyfa1RWqXpQ68++mjylfieuukrXXriGxfAWg4AnBbQJ3qr0TYPjSadi5t8R1JAzXeA2tA0yPoiytCPnwSaH6MPVfRf3mPrpi/20vVpi6RIF0RuG0K0CNNm05GT73pEFeCTjvS3QlCwE2MSpyQFdWotfN/0yNGoUYI+UGdTF0J4I32EPpwFpmkGY5L/obr66Q/T9YF2aj6iN7RZz/ECy1z48kAsCDmI3gi9OFq9QwjQ8Ist9QQRR6kmT5Ep+Lu1nTKkFw9F9NUuaudADsb7nq9EH60qo1eUBjfkujuhUjd9eYy9X8r2heFAFJtlY46SoutNEb276TlTTe3gV3HXk6KwIAxN9Q4Dkk76skL61ras1Ny3uQp91duX0smJADg8t376WH1TYjL+MUlEmFfHh1bQPbxNgL9NMu4IjFlUPn2IL0sjVaAPUpEvkWAMgz3kuukPMMd73ui3LbGkuZeT0pRHRBgH3Owv6iPyPdNFA8IGc+mDER1ArUBfTY9TC4ivHkb71U7d9MnPDI2zaqc/dSwfufof3epQxOHC6VPxu8T2m8Sg66Y9nyASBXPp97GRZqvy9EEvHX4aEGPOYSCpfb4f0IP/tg/sjjYKUB98sAf0AZq4TG1W6DRFH18KgCm2pCb7Jo8+UXSr8vQhFn3SidAT2Adaaqc/bLPw726DaqNnyZl7IhmSRNkKnHZDZQSO42oP9EViQMC9h+JVoN9jNMQj4vXZ9G3so5MIn6f6+xbVHufJiXLFt8K+41fYYBlYXac3ziQfV5lFnwgBkW+U63m6Aq3y9KGPFSTp7/um/hgnOcLTgm635AaL6PXaGoB0aA1/ejZ9zM1JZnn6GhYJrky/jwdxCZTwePTJtRBDoNEug18caX2GyVNxzky//3H6wGXFocrT1/Lp7x98jL0tPXNbMSmgFTofJbAZNo9+0txbfOGUoo9PLuDoo54HuIwdyx+gjy93f5g+0Vh8Z1EItEaRt3AL4LP2B9GYMes5viRkrbb0W+yp4BZjqNyUHnWBy7KOCvN9nH7ww/QxzyPi1ZH0BbE7HTdy/bW6EHLVJYNTQNV6jjWI25e51u3i9GcYhCYWBSmgz2pTefqHWc0W5Y+PuligSyaukfRRxbLn3ObMVQqMX6bWnm3PPAwWWfQJz36OWYwwJL6m6vTLz3ly5/sfmHGq6VU7MXNm0I8UzdO7o9k5qwuAlru3S0WKd1a/FT6uJ/QFmfgmb9OjOxGGOKbtE2tdMtBTfbWFxUyI7aUM+vEDxKFvBiOX7gAvq4hAz5tsLAtCd7PoD4iGNYKknEW24Ij0G+fp8KJPXHT3Fyt4nlFiRyIZss6mv62rKcoBMRECtzkFgn7evXKm7etd4kWTcA2d43FEz4OGnKTbm7fkh1E9ypYex0m/UEQ/ro/YdwJ5e4sjvH51kHc1RV8wyVg6GnkVSVKG03Pq4zum7adCFeSY24CHTYecLFqTNPB9aE7p0Y8i6aMXRvbuY3EWfCWaS5/oXhtbnA2JZJk0fZFum2r3NZW1Ajmm7Ue753GOtNT0yAlEUi6H/oKccANgic2muKB2KhP6erwdFThTF0ZJvXh8nYi+j8rTh+l1v9gj7Tsdk7GoLaxMHdX2oxW9t5B9i6J1Pj44kRz6Pr3cgbbrAkaW5D6LVvHUznYrdvc7NudottNl+vTeUSLSgsfJFGJIW3eaPr2vnqnj2n4j/uwYOQ2p2F8O/SE5f4jEzo492D75vcCblO/BBhKg5YV6iL+Eg1q8nSZIQ69Nf3lYPLJ8MtuRbT/zsUmxHPoiOT/O1iGDfDAju8fZz650D3f76Yw6SiaZFAXajmcFN6M2K/Zzg5W1MpJ4ASQqPQ39ctlUrMykLB3o02Vg2wkWvm/dEA4DX4uTUigDjsJrfcBcOQMHKyt1me0Gfd+rEGVj0q/oeZjNKJdJiNxIzgAGsWvJ6YkB5XYB7LsunX2p5cFHrod+m+TVqfwBonCX9YGoPjn1O4ntY5tmefR1hx4yds8d45RTZ1dYpwYYmcd2UYCfnf++rU5zcLugetJ0iR4CfbS+VH7Y9gkKeautjObDWbrC3DOLi4x9EuDqeLwwfXKIXG0yK8gP8kTKPjsBx6bQxnyASpUeOG7y/gA22p4u/Kv0p+wE/rTTL6KfsUcLZwNBJOgnqy2pW3B0JVqG+0Xwkf3OmF8eaPRksosB3ZeS3+2hNVb0tyzAzAniL+1fpA9kmTwzF/3ad/BNm3z6ZHt3r4/WvCT9dLFgnDtcozaUyXCT5B7rpOjMikjiwWJ2yEj0rQDJMvdJFP8ifTSnEKnRR51ZRDpHwWlpJeiTQQo3zksVsS8L4mcW5a6WubcI7dGiZEqJaLXVdBYYgJ2puQ00K6PD2djIvDMdmZQ+pp1Hv2kntUViTgq6UMWUrBdZuyuKP4Iw5f7cYCARFSrtaG16eDL8h7xBdkC6CrA7IitqMNUUm4jz6LI1hXFUH0+hg7bW9Vk7phnsxGhxFR9Stzuq65iDQ0JrU8ZUKkeC2PnCcnwlvD6Z+XWKctZT2Xtb+sDqNbanxTXHF+lIpDQkaqTuQFVM43PYdqffMwf7rxgvR/Wq1BzIwe0YdHYHw6MD9+ORJTOakCtJ0ZviYDAQm6XyECUxJ1eOzPJ0CzY3KyhzZzEKNkat/3gSJSIgfqQKSVKUOA08oodK//BfrCiWOEVG0ojTRqPuwh8oEnmG7RInJ0sqf1/3v6JtgPk8Shu1VbfXldP8B2QqQH1/dJrTjyRi20gAy98nVyKw4PBSFXH6kajcguTsiuA3cOWGuCs/NyNP9j8lhTohcbOzft0iFs9gVnRotYI4/VjkdigaW2890wycHhU4yttbqypOP5ZMHU0EsK9pfSrqlb+7U1Wc/laM2AhT8Ka4rvLi9LfKOzuTNv2iLN5q4vR3svo5f5npAH9W7//BDKe/F5UxSAtO61vmxuL0DzK1fN8PGk6Nk81YnH6ioQNhpvsBsE3/acYfFUnf9ut+wk8kZeD1GX/FMwoAdXpy7ewj+njkv+PX/4yfSZJo9rT4Czg/j7cZon+Ob/yqh4XLPo0I1B/nMT+ZotMDCxNp4Q+qbi1wcXFxcXFxcXF9Lv0fOnKGSr0vWOoAAAAASUVORK5CYII=\" style=\"height:28px\">'+'<span style=\"font-weight:700;font-size:1.05em\">Monitoreo de Drivers</span>';}}\n    setTimeout(injectLogo, 200);\n  },\n  computed: {\n    grafanaUrl() {\n      var host = window.location.hostname;\n      return \"http://\" + host + \":3000/d/weg-overview/weg-drives-overview?orgId=1&kiosk&theme=light&refresh=10s\";\n    }\n  }\n}\n</script>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 520,
    "y": 440,
    "wires": [
      []
    ]
  },
  {
    "id": "weg_d2_report_form",
    "type": "ui-template",
    "z": "weg_d2_tab",
    "group": "weg_d2_g_reports",
    "name": "Report Form",
    "order": 1,
    "width": "24",
    "height": "20",
    "format": "<template>\n<div style=\"width:100%;padding:16px;font-family:Arial,sans-serif\">\n  <h2 style=\"color:#1a4d8f;margin:0 0 16px\">Generador de Reportes</h2>\n  <div style=\"padding:16px;background:#f5f5f5;border-radius:8px;margin-bottom:16px\">\n    <div style=\"display:flex;gap:16px;flex-wrap:wrap;align-items:flex-end\">\n      <div>\n        <label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:4px\">Rango de Tiempo</label>\n        <select v-model=\"fromRange\" style=\"padding:10px;border:1px solid #ccc;border-radius:4px;font-size:14px;min-width:180px\">\n          <option value=\"-1h\">Ultima hora</option>\n          <option value=\"-6h\">Ultimas 6 horas</option>\n          <option value=\"-24h\">Ultimas 24 horas</option>\n          <option value=\"-7d\">Ultima semana</option>\n          <option value=\"-30d\">Ultimo mes</option>\n        </select>\n      </div>\n      <div>\n        <label style=\"font-size:12px;color:#666;font-weight:bold;display:block;margin-bottom:4px\">Dispositivos</label>\n        <div style=\"display:flex;gap:8px;flex-wrap:wrap\">\n          <label v-for=\"d in allDevices\" :key=\"d\" style=\"display:flex;align-items:center;gap:4px;padding:6px 10px;background:white;border:1px solid #ccc;border-radius:4px;cursor:pointer;font-size:13px\" :style=\"{borderColor:selDevices.includes(d)?'#1a4d8f':'#ccc',background:selDevices.includes(d)?'#e3f2fd':'white'}\">\n            <input type=\"checkbox\" :value=\"d\" v-model=\"selDevices\" style=\"margin:0\" /> {{d}}\n          </label>\n        </div>\n      </div>\n    </div>\n    <div style=\"display:flex;gap:10px;margin-top:16px\">\n      <button @click=\"preview\" :disabled=\"loading\" style=\"background:#1a4d8f;color:white;border:none;padding:10px 24px;border-radius:6px;cursor:pointer;font-weight:bold;font-size:14px\">\n        {{ loading ? \"Consultando...\" : \"Vista Previa\" }}\n      </button>\n      <button @click=\"dl('csv')\" :disabled=\"loading || !rows.length\" style=\"background:#2e7d32;color:white;border:none;padding:10px 24px;border-radius:6px;cursor:pointer;font-weight:bold;font-size:14px\">\n        Descargar CSV\n      </button>\n      <button @click=\"dl('pdf')\" :disabled=\"loading || !rows.length\" style=\"background:#c62828;color:white;border:none;padding:10px 24px;border-radius:6px;cursor:pointer;font-weight:bold;font-size:14px\">\n        Descargar PDF\n      </button>\n    </div>\n  </div>\n  <div v-if=\"info\" style=\"padding:10px;border-radius:6px;margin-bottom:12px;font-weight:bold\" :style=\"{background:infoOk?'#e8f5e9':'#fbe9e7',color:infoOk?'#2e7d32':'#c62828'}\">{{info}}</div>\n  <div v-if=\"rows.length\" style=\"display:flex;gap:12px;margin-bottom:16px;flex-wrap:wrap\">\n    <div style=\"background:white;border:1px solid #e0e0e0;border-radius:8px;padding:12px 20px;min-width:120px\">\n      <div style=\"font-size:12px;color:#666\">Registros</div>\n      <div style=\"font-size:24px;font-weight:bold;color:#1a4d8f\">{{rows.length}}</div>\n    </div>\n    <div style=\"background:white;border:1px solid #e0e0e0;border-radius:8px;padding:12px 20px;min-width:120px\">\n      <div style=\"font-size:12px;color:#666\">Drives</div>\n      <div style=\"font-size:24px;font-weight:bold;color:#1a4d8f\">{{uniqueDrives}}</div>\n    </div>\n    <div style=\"background:white;border:1px solid #e0e0e0;border-radius:8px;padding:12px 20px;min-width:120px\">\n      <div style=\"font-size:12px;color:#666\">Rango</div>\n      <div style=\"font-size:14px;font-weight:bold;color:#333\">{{rangeLabel}}</div>\n    </div>\n  </div>\n  <div v-if=\"rows.length\" style=\"overflow-x:auto;max-height:500px;overflow-y:auto;border:1px solid #e0e0e0;border-radius:8px\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n      <tr style=\"background:#1a4d8f;color:white;position:sticky;top:0;z-index:1\">\n        <th v-for=\"h in displayHeaders\" :key=\"h.key\" style=\"padding:10px;text-align:left;white-space:nowrap\">{{h.label}}</th>\n      </tr>\n      <tr v-for=\"(row,i) in rows.slice(0,300)\" :key=\"i\" :style=\"{background:i%2===0?'#fafafa':'#fff'}\">\n        <td v-for=\"h in displayHeaders\" :key=\"h.key\" style=\"padding:8px 10px;border-bottom:1px solid #eee;white-space:nowrap\">{{formatVal(row[h.key],h.key)}}</td>\n      </tr>\n    </table>\n  </div>\n  <p v-if=\"rows.length>300\" style=\"color:#999;font-size:12px;margin-top:8px\">Mostrando primeros 300 de {{rows.length}} registros. Descargue CSV/PDF para ver todos.</p>\n  <div v-if=\"!rows.length && !loading && queried\" style=\"text-align:center;padding:60px;color:#999\">\n    <p style=\"font-size:18px;margin:0\">Sin datos para el rango seleccionado</p>\n    <p style=\"font-size:14px\">Intente con un rango mayor o verifique que los drives esten conectados</p>\n  </div>\n</div>\n</template>\n<script>\nexport default {\n  data: function() {\n    return {\n      fromRange: \"-24h\", loading: false, info: \"\", infoOk: true,\n      rows: [], headers: [], queried: false,\n      allDevices: [], selDevices: [],\n      rangeLabels: {\"-1h\":\"Ultima hora\",\"-6h\":\"6 horas\",\"-24h\":\"24 horas\",\"-7d\":\"7 dias\",\"-30d\":\"30 dias\"}\n    }\n  },\n  computed: {\n    uniqueDrives: function() {\n      var names = {};\n      this.rows.forEach(function(r) { if(r.name) names[r.name]=true; });\n      return Object.keys(names).length;\n    },\n    rangeLabel: function() { return this.rangeLabels[this.fromRange] || this.fromRange; },\n    displayHeaders: function() {\n      var map = {\n        \"_time\":\"Fecha/Hora\", \"name\":\"Drive\", \"site\":\"Sitio\",\n        \"current\":\"Corriente (A)\", \"voltage\":\"Voltaje (V)\", \"power\":\"Potencia (kW)\",\n        \"motor_temp\":\"Temp Motor (C)\", \"frequency\":\"Frecuencia (Hz)\", \"motor_speed\":\"Velocidad (RPM)\"\n      };\n      var order = [\"_time\",\"name\",\"site\",\"current\",\"voltage\",\"power\",\"frequency\",\"motor_speed\",\"motor_temp\"];\n      var self = this;\n      return order.filter(function(k){ return self.headers.indexOf(k)>=0; }).map(function(k){ return {key:k, label:map[k]||k}; });\n    }\n  },\n  mounted: function() {\n    var self = this;\n    fetch(\"http://\"+window.location.hostname+\":3200/api/config/devices\")\n      .then(function(r){return r.json()})\n      .then(function(devs){\n        self.allDevices = devs.map(function(d){return d.name});\n        self.selDevices = self.allDevices.slice();\n      }).catch(function(){});\n  },\n  methods: {\n    api: function() { return \"http://\"+window.location.hostname+\":3200\"; },\n    formatVal: function(v, key) {\n      if (!v && v !== 0) return \"-\";\n      if (key === \"_time\") { var d = new Date(v); return d.toLocaleDateString(\"es-PY\")+\" \"+d.toLocaleTimeString(\"es-PY\"); }\n      if (typeof v === \"number\") return Math.round(v*100)/100;\n      return v;\n    },\n    preview: function() {\n      this.loading = true; this.info = \"\"; this.queried = false;\n      var self = this;\n      var body = { from: this.fromRange };\n      if (self.selDevices.length < self.allDevices.length) body.devices = self.selDevices;\n      fetch(self.api()+\"/api/reports/generate\",{method:\"POST\",headers:{\"Content-Type\":\"application/json\"},body:JSON.stringify(body)})\n        .then(function(r){return r.json()})\n        .then(function(d){\n          self.rows = d.data || [];\n          self.headers = self.rows.length ? Object.keys(self.rows[0]) : [];\n          self.loading = false; self.queried = true;\n          if (self.rows.length) { self.info = self.rows.length+\" registros encontrados\"; self.infoOk = true; }\n          setTimeout(function(){self.info=\"\"},4000);\n        }).catch(function(e){ self.loading=false; self.info=\"Error: \"+e.message; self.infoOk=false; self.queried=true; });\n    },\n    dl: function(type) {\n      this.loading = true; var self = this;\n      var body = { from: this.fromRange, title: \"Reporte WEG SCADA\" };\n      if (self.selDevices.length < self.allDevices.length) body.devices = self.selDevices;\n      fetch(self.api()+\"/api/reports/\"+type,{method:\"POST\",headers:{\"Content-Type\":\"application/json\"},body:JSON.stringify(body)})\n        .then(function(r){return r.blob()})\n        .then(function(b){\n          var a = document.createElement(\"a\"); a.href = URL.createObjectURL(b);\n          a.download = \"weg-report.\"+type; a.click();\n          self.loading = false; self.info = type.toUpperCase()+\" descargado\"; self.infoOk = true;\n          setTimeout(function(){self.info=\"\"},3000);\n        }).catch(function(e){ self.loading=false; self.info=\"Error: \"+e.message; self.infoOk=false; });\n    }\n  }\n}\n</script>",
    "storeOutMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 700,
    "y": 600,
    "wires": [
      []
    ]
  }
]