nodered/WEG_Import_Flow.json
[
    {
        "id": "weg_flow_tab",
        "type": "tab",
        "label": "WEG Monitoring",
        "disabled": false,
        "info": "WEG CFW900 + SSW900 Monitoring via Modbus TCP from M241 PLC"
    },
    {
        "id": "weg_comment_header",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "=== WEG DRIVE MONITORING === M241 PLC Modbus TCP ===",
        "info": "Reads 4x CFW900 + 4x SSW900 from M241 via Modbus TCP\nRegisters %MW0-79",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "weg_modbus_config",
        "type": "modbus-client",
        "name": "M241 PLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "qdumpLogEnabled": false,
        "tcpHost": "192.168.1.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialType": "RTU-BUFFERED",
        "serialBaudrate": "19200",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "200",
        "clientTimeout": "2000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "weg_comment_modbus",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- MODBUS READ (PLC -> Node-RED) ---",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "weg_read_cfw",
        "type": "modbus-read",
        "z": "weg_flow_tab",
        "name": "Read CFW900 (%MW0-39)",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "40",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "weg_modbus_config",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 140,
        "wires": [["weg_parse_cfw"], []]
    },
    {
        "id": "weg_read_ssw",
        "type": "modbus-read",
        "z": "weg_flow_tab",
        "name": "Read SSW900 (%MW40-79)",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "40",
        "quantity": "40",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "weg_modbus_config",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 200,
        "wires": [["weg_parse_ssw"], []]
    },
    {
        "id": "weg_comment_parsers",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- PARSERS ---",
        "x": 190,
        "y": 260,
        "wires": []
    },
    {
        "id": "weg_parse_cfw",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Parse CFW900",
        "func": "const regs = msg.payload;\nconst faultTexts = {\n    0:'No Fault', 2:'F002: Overcurrent', 3:'F003: DC Overvoltage',\n    4:'F004: IGBT Overtemp', 5:'F005: Motor Overload', 6:'F006: Drive Overtemp',\n    7:'F007: Overcurrent Ph-U', 8:'F008: Overcurrent Ph-V', 9:'F009: Overcurrent Ph-W',\n    12:'F012: Phase Loss Input', 21:'F021: Earth Fault', 22:'F022: Motor Overtemp PTC',\n    33:'F033: Undervoltage', 49:'F049: Motor Stalled',\n    70:'F070: Comm Error', 72:'F072: Fieldbus Timeout', 74:'F074: Serial Error'\n};\n\nconst devices = [];\nfor (let i = 0; i < 4; i++) {\n    const b = i * 10;\n    const sw = regs[b];\n    const fc = regs[b + 6];\n    devices.push({\n        name: 'CFW900 #' + (i+1),\n        statusWord: sw,\n        speedRPM: regs[b+1],\n        current: regs[b+2] / 10.0,\n        frequency: regs[b+3] / 10.0,\n        dcBusVoltage: regs[b+4] / 10.0,\n        torque: regs[b+5] / 10.0,\n        faultCode: fc,\n        faultText: faultTexts[fc] || ('Fault: ' + fc),\n        online: regs[b+7] === 1,\n        commErrors: regs[b+8],\n        ready:   (sw & 0x0001) !== 0,\n        running: (sw & 0x0002) !== 0,\n        fault:   (sw & 0x0008) !== 0,\n        warning: (sw & 0x0080) !== 0,\n        statusText: (sw & 0x0008) ? 'FAULT' : (sw & 0x0002) ? 'RUNNING' : (sw & 0x0001) ? 'READY' : 'OFF',\n        statusColor: (sw & 0x0008) ? '#DC0000' : (sw & 0x0002) ? '#0064DC' : (sw & 0x0001) ? '#00B400' : '#808080'\n    });\n}\n\nflow.set('cfwDevices', devices);\nmsg.cfwDevices = devices;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [["weg_join_data", "weg_influx_cfw", "weg_cfw_trend_split"]]
    },
    {
        "id": "weg_parse_ssw",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Parse SSW900",
        "func": "const regs = msg.payload;\nconst faultTexts = {\n    0:'No Fault', 1:'F01: Motor Overcurrent', 2:'F02: Phase Sequence',\n    3:'F03: Phase Loss Input', 4:'F04: Phase Loss Output', 5:'F05: Thyristor Short',\n    6:'F06: Heatsink Overtemp', 7:'F07: Motor Overload', 8:'F08: Undervoltage',\n    9:'F09: Overvoltage', 10:'F10: Phase Imbalance', 11:'F11: Motor PTC Overtemp',\n    20:'F20: Bypass Contactor', 30:'F30: Comm Error',\n    51:'F51: Locked Rotor', 73:'F73: Serial Timeout'\n};\n\nconst devices = [];\nfor (let i = 0; i < 4; i++) {\n    const b = i * 10;\n    const sw = regs[b];\n    const fc = regs[b + 4];\n    devices.push({\n        name: 'SSW900 #' + (i+1),\n        statusWord: sw,\n        current: regs[b+1] / 10.0,\n        voltage: regs[b+2] / 10.0,\n        power: regs[b+3] / 10.0,\n        faultCode: fc,\n        faultText: faultTexts[fc] || ('Fault: ' + fc),\n        online: regs[b+5] === 1,\n        commErrors: regs[b+6],\n        ready:    (sw & 0x0001) !== 0,\n        running:  (sw & 0x0002) !== 0,\n        starting: (sw & 0x0004) !== 0,\n        fault:    (sw & 0x0008) !== 0,\n        statusText: (sw & 0x0008) ? 'FAULT' : (sw & 0x0002) ? 'RUNNING' : (sw & 0x0004) ? 'STARTING' : (sw & 0x0001) ? 'READY' : 'OFF',\n        statusColor: (sw & 0x0008) ? '#DC0000' : (sw & 0x0002) ? '#0064DC' : (sw & 0x0004) ? '#C8C800' : (sw & 0x0001) ? '#00B400' : '#808080'\n    });\n}\n\nflow.set('sswDevices', devices);\nmsg.sswDevices = devices;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [["weg_join_data", "weg_influx_ssw", "weg_ssw_trend_split"]]
    },
    {
        "id": "weg_join_data",
        "type": "join",
        "z": "weg_flow_tab",
        "name": "Join CFW+SSW",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 170,
        "wires": [["weg_combine_dashboard", "weg_alarm_detector", "weg_voltage_monitor", "weg_csv_builder"]]
    },
    {
        "id": "weg_comment_dashboard",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- DASHBOARD + BANNER ---",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "weg_combine_dashboard",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Combine + Banner",
        "func": "const cfwDevices = flow.get('cfwDevices') || [];\nconst sswDevices = flow.get('sswDevices') || [];\n\n// Build alarm banner\nconst faults = [];\ncfwDevices.forEach(d => {\n    if (d.fault) faults.push(d.name + ': ' + d.faultText);\n    else if (!d.online && d.commErrors > 5) faults.push(d.name + ': COMM LOST');\n});\nsswDevices.forEach(d => {\n    if (d.fault) faults.push(d.name + ': ' + d.faultText);\n    else if (!d.online && d.commErrors > 5) faults.push(d.name + ': COMM LOST');\n});\n\nlet banner;\nif (faults.length === 0) {\n    banner = { text: 'SYSTEM OK - All drives operating normally', color: '#00B400', hasFaults: false, faultCount: 0 };\n} else {\n    const idx = (flow.get('bannerIdx') || 0) % faults.length;\n    flow.set('bannerIdx', idx + 1);\n    banner = { text: '[' + (idx+1) + '/' + faults.length + '] ' + faults[idx], color: '#DC0000', hasFaults: true, faultCount: faults.length };\n}\n\nmsg.cfwDevices = cfwDevices;\nmsg.sswDevices = sswDevices;\nmsg.banner = banner;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 700,
        "y": 300,
        "wires": [["weg_ui_overview"]]
    },
    {
        "id": "weg_ui_tab_overview",
        "type": "ui_tab",
        "name": "WEG Overview",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "weg_ui_group_main",
        "type": "ui_group",
        "name": "WEG Drives",
        "tab": "weg_ui_tab_overview",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "weg_ui_overview",
        "type": "ui_template",
        "z": "weg_flow_tab",
        "group": "weg_ui_group_main",
        "name": "Overview Dashboard",
        "order": 1,
        "width": "24",
        "height": "18",
        "format": "<style>\n.weg-banner{padding:12px 16px;border-radius:6px;text-align:center;font-weight:bold;font-size:15px;color:white;margin-bottom:12px;transition:background .3s}\n.weg-banner-ok{background:#00802b}\n.weg-banner-fault{background:#CC0000;animation:blink 1s infinite}\n.weg-grid{display:grid;grid-template-columns:1fr 1fr;gap:10px}\n.weg-card{background:#1e1e1e;border-radius:8px;padding:12px;color:white}\n.weg-name{font-size:13px;font-weight:bold;color:#aaa}\n.weg-val{font-size:20px;font-weight:bold;margin:2px 0}\n.weg-lbl{font-size:10px;color:#888}\n.weg-bar{background:#333;border-radius:3px;height:5px;margin:3px 0}\n.weg-bar-fill{height:100%;border-radius:3px;transition:width .5s}\n.weg-status{font-size:11px;padding:2px 8px;border-radius:4px;display:inline-block;color:white}\n.weg-fault-box{margin-top:8px;padding:6px;background:#3a0000;border-radius:4px;color:#ff6666;font-size:12px}\n.weg-section{color:#aaa;font-size:14px;font-weight:bold;margin:10px 0 6px 0}\n@keyframes blink{50%{opacity:.5}}\n</style>\n\n<div class=\"weg-banner\" ng-class=\"{'weg-banner-ok':!msg.banner.hasFaults,'weg-banner-fault':msg.banner.hasFaults}\">\n  {{msg.banner.text}}\n</div>\n\n<div class=\"weg-section\">CFW900 — Variable Frequency Drives</div>\n<div class=\"weg-grid\">\n  <div ng-repeat=\"d in msg.cfwDevices\" class=\"weg-card\" style=\"border-left:4px solid {{d.statusColor}}\">\n    <div class=\"weg-name\">{{d.name}} <span class=\"weg-status\" style=\"background:{{d.statusColor}}\">{{d.statusText}}</span>\n      <span ng-if=\"!d.online\" style=\"color:#f44;margin-left:6px\">⚠ OFFLINE</span>\n    </div>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:6px;margin-top:8px\">\n      <div>\n        <div class=\"weg-lbl\">CURRENT</div>\n        <div class=\"weg-val\">{{d.current.toFixed(1)}} <small>A</small></div>\n        <div class=\"weg-bar\"><div class=\"weg-bar-fill\" style=\"width:{{Math.min(d.current/25*100,100).toFixed(0)}}%;background:#0064DC\"></div></div>\n      </div>\n      <div>\n        <div class=\"weg-lbl\">FREQUENCY</div>\n        <div class=\"weg-val\">{{d.frequency.toFixed(1)}} <small>Hz</small></div>\n        <div class=\"weg-bar\"><div class=\"weg-bar-fill\" style=\"width:{{Math.min(d.frequency/60*100,100).toFixed(0)}}%;background:#00B400\"></div></div>\n      </div>\n      <div>\n        <div class=\"weg-lbl\">DC BUS VOLTAGE</div>\n        <div class=\"weg-val\" style=\"color:#FFD700\">{{d.dcBusVoltage.toFixed(1)}} <small>V</small></div>\n        <div class=\"weg-bar\"><div class=\"weg-bar-fill\" style=\"width:{{Math.min(d.dcBusVoltage/800*100,100).toFixed(0)}}%;background:#FFD700\"></div></div>\n      </div>\n      <div>\n        <div class=\"weg-lbl\">SPEED</div>\n        <div class=\"weg-val\">{{d.speedRPM}} <small>RPM</small></div>\n      </div>\n    </div>\n    <div ng-if=\"d.fault\" class=\"weg-fault-box\">{{d.faultText}}</div>\n  </div>\n</div>\n\n<div class=\"weg-section\" style=\"margin-top:14px\">SSW900 — Soft Starters</div>\n<div class=\"weg-grid\">\n  <div ng-repeat=\"d in msg.sswDevices\" class=\"weg-card\" style=\"border-left:4px solid {{d.statusColor}}\">\n    <div class=\"weg-name\">{{d.name}} <span class=\"weg-status\" style=\"background:{{d.statusColor}}\">{{d.statusText}}</span>\n      <span ng-if=\"!d.online\" style=\"color:#f44;margin-left:6px\">⚠ OFFLINE</span>\n    </div>\n    <div style=\"display:grid;grid-template-columns:1fr 1fr 1fr;gap:6px;margin-top:8px\">\n      <div>\n        <div class=\"weg-lbl\">CURRENT</div>\n        <div class=\"weg-val\">{{d.current.toFixed(1)}} <small>A</small></div>\n        <div class=\"weg-bar\"><div class=\"weg-bar-fill\" style=\"width:{{Math.min(d.current/50*100,100).toFixed(0)}}%;background:#0064DC\"></div></div>\n      </div>\n      <div>\n        <div class=\"weg-lbl\">MOTOR VOLTAGE</div>\n        <div class=\"weg-val\" style=\"color:#FFD700\">{{d.voltage.toFixed(1)}} <small>V</small></div>\n        <div class=\"weg-bar\"><div class=\"weg-bar-fill\" style=\"width:{{Math.min(d.voltage/500*100,100).toFixed(0)}}%;background:#FFD700\"></div></div>\n      </div>\n      <div>\n        <div class=\"weg-lbl\">POWER</div>\n        <div class=\"weg-val\">{{d.power.toFixed(1)}} <small>kW</small></div>\n      </div>\n    </div>\n    <div ng-if=\"d.fault\" class=\"weg-fault-box\">{{d.faultText}}</div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "weg_comment_trends",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- TRENDING CHARTS ---",
        "x": 210,
        "y": 370,
        "wires": []
    },
    {
        "id": "weg_ui_tab_trending",
        "type": "ui_tab",
        "name": "WEG Trending",
        "icon": "show_chart",
        "order": 2
    },
    {
        "id": "weg_ui_grp_cfw_current",
        "type": "ui_group",
        "name": "CFW900 Current (A)",
        "tab": "weg_ui_tab_trending",
        "order": 1,
        "width": "12"
    },
    {
        "id": "weg_ui_grp_cfw_voltage",
        "type": "ui_group",
        "name": "⚡ CFW900 DC Bus Voltage (V)",
        "tab": "weg_ui_tab_trending",
        "order": 2,
        "width": "12"
    },
    {
        "id": "weg_ui_grp_ssw_current",
        "type": "ui_group",
        "name": "SSW900 Current (A)",
        "tab": "weg_ui_tab_trending",
        "order": 3,
        "width": "12"
    },
    {
        "id": "weg_ui_grp_ssw_voltage",
        "type": "ui_group",
        "name": "⚡ SSW900 Motor Voltage (V)",
        "tab": "weg_ui_tab_trending",
        "order": 4,
        "width": "12"
    },
    {
        "id": "weg_cfw_trend_split",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Split CFW Trends",
        "func": "const d = flow.get('cfwDevices') || [];\nif (d.length < 4) return null;\n\nreturn [\n    {payload: d[0].current, topic: 'CFW#1'},\n    {payload: d[1].current, topic: 'CFW#2'},\n    {payload: d[2].current, topic: 'CFW#3'},\n    {payload: d[3].current, topic: 'CFW#4'},\n    {payload: d[0].dcBusVoltage, topic: 'CFW#1'},\n    {payload: d[1].dcBusVoltage, topic: 'CFW#2'},\n    {payload: d[2].dcBusVoltage, topic: 'CFW#3'},\n    {payload: d[3].dcBusVoltage, topic: 'CFW#4'}\n];",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "x": 260,
        "y": 420,
        "wires": [["weg_chart_cfw_current"],["weg_chart_cfw_current"],["weg_chart_cfw_current"],["weg_chart_cfw_current"],["weg_chart_cfw_voltage"],["weg_chart_cfw_voltage"],["weg_chart_cfw_voltage"],["weg_chart_cfw_voltage"]]
    },
    {
        "id": "weg_chart_cfw_current",
        "type": "ui_chart",
        "z": "weg_flow_tab",
        "name": "CFW900 Current",
        "group": "weg_ui_grp_cfw_current",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "CFW900 Current (A)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#0064DC","#DC0000","#00B400","#C88200","#8B00DC","#00C8C8","#C800C8","#C8C800"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "weg_chart_cfw_voltage",
        "type": "ui_chart",
        "z": "weg_flow_tab",
        "name": "CFW900 DC Voltage",
        "group": "weg_ui_grp_cfw_voltage",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "⚡ CFW900 DC Bus Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "300",
        "ymax": "800",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#FFD700","#FFA500","#FF6347","#FFFF00","#DAA520","#F0E68C","#BDB76B","#EEE8AA"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 450,
        "wires": [[]]
    },
    {
        "id": "weg_ssw_trend_split",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Split SSW Trends",
        "func": "const d = flow.get('sswDevices') || [];\nif (d.length < 4) return null;\n\nreturn [\n    {payload: d[0].current, topic: 'SSW#1'},\n    {payload: d[1].current, topic: 'SSW#2'},\n    {payload: d[2].current, topic: 'SSW#3'},\n    {payload: d[3].current, topic: 'SSW#4'},\n    {payload: d[0].voltage, topic: 'SSW#1'},\n    {payload: d[1].voltage, topic: 'SSW#2'},\n    {payload: d[2].voltage, topic: 'SSW#3'},\n    {payload: d[3].voltage, topic: 'SSW#4'}\n];",
        "outputs": 8,
        "timeout": "",
        "noerr": 0,
        "x": 260,
        "y": 500,
        "wires": [["weg_chart_ssw_current"],["weg_chart_ssw_current"],["weg_chart_ssw_current"],["weg_chart_ssw_current"],["weg_chart_ssw_voltage"],["weg_chart_ssw_voltage"],["weg_chart_ssw_voltage"],["weg_chart_ssw_voltage"]]
    },
    {
        "id": "weg_chart_ssw_current",
        "type": "ui_chart",
        "z": "weg_flow_tab",
        "name": "SSW900 Current",
        "group": "weg_ui_grp_ssw_current",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "SSW900 Current (A)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#0064DC","#DC0000","#00B400","#C88200","#8B00DC","#00C8C8","#C800C8","#C8C800"],
        "outputs": 1,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "weg_chart_ssw_voltage",
        "type": "ui_chart",
        "z": "weg_flow_tab",
        "name": "SSW900 Motor Voltage",
        "group": "weg_ui_grp_ssw_voltage",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "⚡ SSW900 Motor Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": "350",
        "ymax": "520",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#FFD700","#FFA500","#FF6347","#FFFF00","#DAA520","#F0E68C","#BDB76B","#EEE8AA"],
        "outputs": 1,
        "className": "",
        "x": 540,
        "y": 530,
        "wires": [[]]
    },
    {
        "id": "weg_comment_alarms",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- ALARM DETECTOR + NOTIFICATIONS ---",
        "x": 780,
        "y": 370,
        "wires": []
    },
    {
        "id": "weg_alarm_detector",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Alarm Detector",
        "func": "const cfwDevices = flow.get('cfwDevices') || [];\nconst sswDevices = flow.get('sswDevices') || [];\nconst prevFaults = flow.get('activeFaults') || {};\nconst currentFaults = {};\nconst newAlarms = [];\nconst clearedAlarms = [];\n\ncfwDevices.forEach((d, i) => {\n    const key = 'CFW_' + (i+1);\n    if (d.fault) {\n        currentFaults[key] = {device:d.name, type:'FAULT', text:d.faultText, current:d.current, voltage:d.dcBusVoltage};\n        if (!prevFaults[key]) newAlarms.push(currentFaults[key]);\n    } else if (!d.online && d.commErrors > 5) {\n        currentFaults[key] = {device:d.name, type:'COMM_LOST', text:'Communication Lost'};\n        if (!prevFaults[key]) newAlarms.push(currentFaults[key]);\n    }\n    if (d.dcBusVoltage > 750 || (d.dcBusVoltage < 350 && d.dcBusVoltage > 0)) {\n        const vk = 'CFW_V_' + (i+1);\n        currentFaults[vk] = {device:d.name, type:'VOLTAGE', text: d.dcBusVoltage>750?'DC OVERVOLTAGE':'DC UNDERVOLTAGE', voltage:d.dcBusVoltage};\n        if (!prevFaults[vk]) newAlarms.push(currentFaults[vk]);\n    }\n});\n\nsswDevices.forEach((d, i) => {\n    const key = 'SSW_' + (i+1);\n    if (d.fault) {\n        currentFaults[key] = {device:d.name, type:'FAULT', text:d.faultText, current:d.current, voltage:d.voltage};\n        if (!prevFaults[key]) newAlarms.push(currentFaults[key]);\n    } else if (!d.online && d.commErrors > 5) {\n        currentFaults[key] = {device:d.name, type:'COMM_LOST', text:'Communication Lost'};\n        if (!prevFaults[key]) newAlarms.push(currentFaults[key]);\n    }\n});\n\nObject.keys(prevFaults).forEach(k => {\n    if (!currentFaults[k]) clearedAlarms.push(prevFaults[k]);\n});\n\nflow.set('activeFaults', currentFaults);\n\nconst msgs = [];\nif (newAlarms.length > 0) msgs.push({type:'alarm', alarms:newAlarms});\nif (clearedAlarms.length > 0) msgs.push({type:'clear', alarms:clearedAlarms});\n\nif (msgs.length > 0) {\n    msg.notifications = msgs;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 770,
        "y": 410,
        "wires": [["weg_rate_limiter"]]
    },
    {
        "id": "weg_rate_limiter",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Rate Limiter (5min)",
        "func": "const COOLDOWN = 5*60*1000;\nconst lastSent = flow.get('notifCooldown') || {};\nconst now = Date.now();\nconst filtered = [];\n\nmsg.notifications.forEach(n => {\n    const fa = n.alarms.filter(a => {\n        const k = a.device + '_' + a.type;\n        if (n.type === 'clear') return true;\n        if (lastSent[k] && (now - lastSent[k]) < COOLDOWN) return false;\n        lastSent[k] = now;\n        return true;\n    });\n    if (fa.length > 0) filtered.push({type:n.type, alarms:fa});\n});\n\nflow.set('notifCooldown', lastSent);\nif (filtered.length > 0) {\n    msg.notifications = filtered;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 970,
        "y": 410,
        "wires": [["weg_format_telegram", "weg_format_email"]]
    },
    {
        "id": "weg_format_telegram",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Format Telegram",
        "func": "const n = msg.notifications || [];\nconst now = new Date().toLocaleString();\nlet lines = [];\n\nn.forEach(notif => {\n    if (notif.type === 'alarm') {\n        lines.push('🚨 *WEG ALARM*');\n        lines.push('📅 ' + now);\n        lines.push('');\n        notif.alarms.forEach(a => {\n            lines.push('🔴 *' + a.device + '*');\n            lines.push('   ' + a.type + ': ' + a.text);\n            if (a.voltage) lines.push('   ⚡ Voltage: ' + a.voltage + ' V');\n            if (a.current) lines.push('   Current: ' + a.current + ' A');\n            lines.push('');\n        });\n    } else {\n        lines.push('✅ *ALARM CLEARED*');\n        lines.push('📅 ' + now);\n        notif.alarms.forEach(a => {\n            lines.push('🟢 *' + a.device + '* → CLEARED');\n        });\n    }\n});\n\nmsg.payload = {\n    chatId: flow.get('telegramChatId') || 0,\n    type: 'message',\n    content: lines.join('\\n'),\n    options: { parse_mode: 'Markdown' }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 1170,
        "y": 390,
        "wires": [["weg_telegram_out"]]
    },
    {
        "id": "weg_format_email",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Format Email",
        "func": "const n = msg.notifications || [];\nconst now = new Date().toLocaleString();\nlet subject = '';\nlet body = '';\n\nn.forEach(notif => {\n    if (notif.type === 'alarm') {\n        subject = '🚨 WEG ALARM: ' + notif.alarms.map(a=>a.device).join(', ');\n        body = '<h2 style=\"color:red\">WEG Drive Alarm - ' + now + '</h2><table border=\"1\" cellpadding=\"8\"><tr><th>Device</th><th>Type</th><th>Detail</th><th style=\"color:goldenrod\">Voltage</th><th>Current</th></tr>';\n        notif.alarms.forEach(a => {\n            body += '<tr><td><b>' + a.device + '</b></td><td>' + a.type + '</td><td>' + a.text + '</td><td style=\"color:goldenrod;font-weight:bold\">' + (a.voltage||'-') + ' V</td><td>' + (a.current||'-') + ' A</td></tr>';\n        });\n        body += '</table>';\n    } else {\n        subject = '✅ WEG CLEARED: ' + notif.alarms.map(a=>a.device).join(', ');\n        body = '<h2 style=\"color:green\">Alarm Cleared - ' + now + '</h2><ul>';\n        notif.alarms.forEach(a => { body += '<li><b>' + a.device + '</b> → CLEARED</li>'; });\n        body += '</ul>';\n    }\n});\n\nmsg.topic = subject;\nmsg.payload = body;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 1170,
        "y": 430,
        "wires": [["weg_email_out"]]
    },
    {
        "id": "weg_telegram_out",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "→ Connect Telegram Sender here",
        "info": "Replace this with a 'telegram sender' node.\nConfigure your bot token and chat ID.",
        "x": 1400,
        "y": 390,
        "wires": []
    },
    {
        "id": "weg_email_out",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "→ Connect Email node here",
        "info": "Replace this with an 'e-mail' node.\nConfigure SMTP server.",
        "x": 1390,
        "y": 430,
        "wires": []
    },
    {
        "id": "weg_comment_voltage",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- VOLTAGE MONITOR ---",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "weg_voltage_monitor",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Voltage Monitor (min/max/avg)",
        "func": "const cfw = flow.get('cfwDevices') || [];\nconst ssw = flow.get('sswDevices') || [];\nlet vs = flow.get('vStats') || {cfw:[{},{},{},{}], ssw:[{},{},{},{}]};\n\nconst cfwV = [], sswV = [];\n\ncfw.forEach((d,i) => {\n    if (!vs.cfw[i].min) vs.cfw[i] = {min:9999,max:0,sum:0,cnt:0};\n    const v = d.dcBusVoltage;\n    if (v > 0 && d.online) {\n        vs.cfw[i].min = Math.min(vs.cfw[i].min, v);\n        vs.cfw[i].max = Math.max(vs.cfw[i].max, v);\n        vs.cfw[i].sum += v; vs.cfw[i].cnt++;\n    }\n    cfwV.push({name:d.name, now:v, min:vs.cfw[i].cnt>0?vs.cfw[i].min:0, max:vs.cfw[i].max, avg:vs.cfw[i].cnt>0?(vs.cfw[i].sum/vs.cfw[i].cnt).toFixed(1):0, alarm:v>750||(v<350&&v>0)});\n});\n\nlet sSum=0, sOn=0;\nssw.forEach((d,i) => {\n    if (!vs.ssw[i].min) vs.ssw[i] = {min:9999,max:0,sum:0,cnt:0};\n    const v = d.voltage;\n    if (v > 0 && d.online) {\n        vs.ssw[i].min = Math.min(vs.ssw[i].min, v);\n        vs.ssw[i].max = Math.max(vs.ssw[i].max, v);\n        vs.ssw[i].sum += v; vs.ssw[i].cnt++;\n        sSum += v; sOn++;\n    }\n    sswV.push({name:d.name, now:v, min:vs.ssw[i].cnt>0?vs.ssw[i].min:0, max:vs.ssw[i].max, avg:vs.ssw[i].cnt>0?(vs.ssw[i].sum/vs.ssw[i].cnt).toFixed(1):0, alarm:v>480||(v<400&&v>0), deviation:0});\n});\n\nif (sOn >= 2) {\n    const avgV = sSum/sOn;\n    sswV.forEach(s => { s.deviation = avgV>0 ? (Math.abs(s.now-avgV)/avgV*100).toFixed(1) : 0; s.imbalance = s.deviation > 5; });\n}\n\nflow.set('vStats', vs);\nmsg.voltage = {cfwVoltage:cfwV, sswVoltage:sswV};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 810,
        "y": 520,
        "wires": [["weg_ui_voltage"]]
    },
    {
        "id": "weg_ui_tab_voltage",
        "type": "ui_tab",
        "name": "⚡ Voltage",
        "icon": "flash_on",
        "order": 3
    },
    {
        "id": "weg_ui_grp_voltage",
        "type": "ui_group",
        "name": "Voltage Analysis",
        "tab": "weg_ui_tab_voltage",
        "order": 1,
        "disp": false,
        "width": "24"
    },
    {
        "id": "weg_ui_voltage",
        "type": "ui_template",
        "z": "weg_flow_tab",
        "group": "weg_ui_grp_voltage",
        "name": "Voltage Table",
        "order": 1,
        "width": "24",
        "height": "14",
        "format": "<style>\n.vt{width:100%;border-collapse:collapse;color:white;font-size:13px}\n.vt th{background:#2a2a2a;padding:8px;text-align:left}\n.vt td{padding:6px 8px;border-bottom:1px solid #333}\n.v-alarm{color:#ff4444;font-weight:bold}\n.v-ok{color:#44ff44}\n</style>\n\n<h3 style=\"color:#FFD700\">⚡ CFW900 — DC Bus Voltage</h3>\n<table class=\"vt\">\n<tr><th>Device</th><th>Now (V)</th><th>Min (V)</th><th>Max (V)</th><th>Avg (V)</th><th>Status</th></tr>\n<tr ng-repeat=\"v in msg.voltage.cfwVoltage\">\n  <td><b>{{v.name}}</b></td>\n  <td style=\"font-size:16px;font-weight:bold;color:#FFD700\">{{v.now.toFixed(1)}}</td>\n  <td style=\"color:#44aaff\">{{v.min.toFixed(1)}}</td>\n  <td style=\"color:#ff8844\">{{v.max.toFixed(1)}}</td>\n  <td>{{v.avg}}</td>\n  <td ng-class=\"{'v-alarm':v.alarm,'v-ok':!v.alarm}\">{{v.alarm ? 'ALARM' : 'OK'}}</td>\n</tr>\n</table>\n<p style=\"color:#888;font-size:11px\">Thresholds: Low = 350V | High = 750V</p>\n\n<h3 style=\"color:#FFD700;margin-top:16px\">⚡ SSW900 — Motor Voltage</h3>\n<table class=\"vt\">\n<tr><th>Device</th><th>Now (V)</th><th>Min (V)</th><th>Max (V)</th><th>Avg (V)</th><th>Imbal %</th><th>Status</th></tr>\n<tr ng-repeat=\"v in msg.voltage.sswVoltage\">\n  <td><b>{{v.name}}</b></td>\n  <td style=\"font-size:16px;font-weight:bold;color:#FFD700\">{{v.now.toFixed(1)}}</td>\n  <td style=\"color:#44aaff\">{{v.min.toFixed(1)}}</td>\n  <td style=\"color:#ff8844\">{{v.max.toFixed(1)}}</td>\n  <td>{{v.avg}}</td>\n  <td ng-class=\"{'v-alarm':v.deviation > 5}\">{{v.deviation}}%</td>\n  <td ng-class=\"{'v-alarm':v.alarm,'v-ok':!v.alarm}\">{{v.alarm ? 'ALARM' : 'OK'}}</td>\n</tr>\n</table>\n<p style=\"color:#888;font-size:11px\">Thresholds: Low = 400V | High = 480V | Max Imbalance = 5%</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1070,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "weg_comment_datalog",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "--- DATA LOG (CSV + INFLUXDB) ---",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "weg_csv_builder",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Build CSV Line",
        "func": "const cfw = flow.get('cfwDevices') || [];\nconst ssw = flow.get('sswDevices') || [];\nconst now = new Date();\nconst ts = now.toISOString().replace('T',' ').substring(0,19);\n\nlet line = ts;\ncfw.forEach(d => {\n    line += ',' + d.current + ',' + d.frequency + ',' + d.dcBusVoltage + ',' + d.torque + ',' + d.speedRPM + ',' + d.statusText + ',' + d.faultCode;\n});\nssw.forEach(d => {\n    line += ',' + d.current + ',' + d.voltage + ',' + d.power + ',' + d.statusText + ',' + d.faultCode;\n});\n\nmsg.payload = line + '\\n';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 290,
        "y": 620,
        "wires": [["weg_csv_file"]]
    },
    {
        "id": "weg_csv_file",
        "type": "file",
        "z": "weg_flow_tab",
        "name": "Append CSV",
        "filename": "/data/csv-export/weg_log.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 480,
        "y": 620,
        "wires": [[]]
    },
    {
        "id": "weg_influx_cfw",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Format InfluxDB CFW",
        "func": "const d = flow.get('cfwDevices') || [];\nconst points = [];\nd.forEach((dev,i) => {\n    points.push({\n        measurement: 'cfw900',\n        tags: {device: 'CFW900_'+(i+1)},\n        fields: {\n            current: dev.current,\n            frequency: dev.frequency,\n            dc_bus_voltage: dev.dcBusVoltage,\n            torque: dev.torque,\n            speed_rpm: dev.speedRPM,\n            is_running: dev.running?1:0,\n            is_fault: dev.fault?1:0,\n            fault_code: dev.faultCode\n        },\n        timestamp: Date.now()\n    });\n});\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 280,
        "y": 670,
        "wires": [["weg_influx_out"]]
    },
    {
        "id": "weg_influx_ssw",
        "type": "function",
        "z": "weg_flow_tab",
        "name": "Format InfluxDB SSW",
        "func": "const d = flow.get('sswDevices') || [];\nconst points = [];\nd.forEach((dev,i) => {\n    points.push({\n        measurement: 'ssw900',\n        tags: {device: 'SSW900_'+(i+1)},\n        fields: {\n            current: dev.current,\n            voltage: dev.voltage,\n            power: dev.power,\n            is_running: dev.running?1:0,\n            is_fault: dev.fault?1:0,\n            fault_code: dev.faultCode\n        },\n        timestamp: Date.now()\n    });\n});\nmsg.payload = points;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "x": 280,
        "y": 720,
        "wires": [["weg_influx_out"]]
    },
    {
        "id": "weg_influx_out",
        "type": "comment",
        "z": "weg_flow_tab",
        "name": "→ Connect InfluxDB Out node here (weg_drives bucket)",
        "info": "Replace with influxdb-out node.\nServer: http://influxdb:8086\nOrg: WEG_Monitoring\nBucket: weg_drives\nToken: weg-influxdb-token-2026",
        "x": 570,
        "y": 695,
        "wires": []
    }
]